<%= content_for :head do %>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <%= javascript_include_tag 'jquery.preimage' %>
  <%= javascript_include_tag 'image_upload' %>
<% end %>
<p align=center><%= link_to '返回前頁', :back %></p>
<div class="row">
  <div class="col-xs-12 col-md-12 col-lg-12">
    <div style="margin-top:50px;" class="mainbox col-xs-8 col-xs-offset-2">
      <div class="panel panel-info">
        <div class="panel-heading">
          <div class="panel-title">
            <i class="fa fa-users"></i>&nbsp;桌盟會員資料變更
          </div>
        </div>
        <div style="padding-top:30px" class="panel-body" >

          <%= form_for(resource, as: resource_name, url: registration_path(resource_name), :html =>{:class =>"form-horizontal form-inline",:role =>"form" } ) do |f| %>
            <div style="display:none" class="alert alert-danger">
              <p><%= devise_error_messages! %></p>
              <span></span>
            </div>
            <div class="form-group">
              <div class="col-xs-12 col-md-12 col-lg-12">
                <%= f.label "會員姓名", :class => "form-label" %>:
                <%= current_user.username  %>
              </div>
            </div>
            <div class="col-xs-12 col-md-12 col-lg-12"></br></div>
            <div class="form-group">
              <div class="col-xs-12 col-md-12 col-lg-12">
                <%= f.label "Email", :class => "form-label" %>:
                <%= f.email_field :email, :required => true, :autofocus => true, :class => "form-control", :size => "50"  %>
              </div>
            </div>
            <div class="col-xs-12 col-md-12 col-lg-12"></br></div>
            <div class="form-group">
              <div class="col-xs-12 col-md-12 col-lg-12">
                <%= f.label "FB帳號", :class => "form-label" %>:
                <%= f.text_field :fbaccount, :class =>"form-control", :size => "50" %>
              </div>
            </div>
            <div class="col-xs-12 col-md-12 col-lg-12"></br></div>
            <div class="form-group">
              <div class="col-xs-12 col-md-12 col-lg-12">
                <%= f.label "電話", :class => "form-label" %>:
                <%= f.text_field :phone, :class =>"form-control",:size => "50",:placeholder =>"僅提供積分賽主辦人連絡用!" %>
              </div>
            </div>
            <div class="col-xs-12 col-md-12 col-lg-12"></br></div>
            <div class="form-group">
              <div class="col-xs-12 col-md-12 col-lg-12">
                <%= f.label "新密碼", :class => "form-label" %>:
                <%= f.password_field :password, autocomplete: "off",  :class =>"form-control", :size => "50", :placeholder =>"若不變更請勿填寫" %>
              </div>
            </div>
            <div class="col-xs-12 col-md-12 col-lg-12"></br></div>
            <div class="form-group">
              <div class="col-xs-12 col-md-12 col-lg-12">
                <%= f.label "確認新密碼", :class => "form-label" %>:
                <%= f.password_field :password_confirmation,  :class =>"form-control", :size => "50",:placeholder =>"若不變更請勿填寫" %>
              </div>
            </div>
           
              <div class="col-xs-12 col-md-12 col-lg-12"></br></div>
              <%= f.fields_for :playerprofile do |profile_form| %>
              
              <div class="col-xs-12 col-md-12 col-lg-12"></br></div>
              <div class="form-group">
                <div class="col-xs-12 col-md-12 col-lg-12">
                  <%= profile_form.label "性別", :class => "form-label-standard" %>:
                  <%= profile_form.select :bio, [ '男' , '女'], :class => "form-control" %>
                </div>
              </div>
              <div class="col-xs-12 col-md-12 col-lg-12"></br></div>
              <div class="form-group">
                <div class="col-xs-12 col-md-12 col-lg-12">
                  <%= profile_form.label "持拍方式", :class => "form-label-standard" %>:
                  <%= profile_form.select :paddleholdtype, ['右手日直','右手橫拍','右手中直','右手陰陽拍','左手日直','左手橫拍','左手中直','左手陰陽拍'], :class => "form-control"  %>
                </div>
              </div>
              <div class="col-xs-12 col-md-12 col-lg-12"></br></div>
              <div class="form-group">
                <div class="col-xs-12 col-md-12 col-lg-12">
                  <%= profile_form.label "球拍型號", :class => "form-label" %>:
                  <%= profile_form.text_field :paddlemodel, :class =>"form-control", :size => "50" %>
                </div>
              </div>
              <div class="col-xs-12 col-md-12 col-lg-12"></br></div>
              <div class="form-group">
                <div class="col-xs-12 col-md-12 col-lg-12">
                  <%= profile_form.label "正手膠皮",:class => "form-label" %>:
                  <%= profile_form.text_field :forwardrubber, :class =>"form-control", :size => "50" %>
                </div>
              </div>
              <div class="col-xs-12 col-md-12 col-lg-12"></br></div>
              <div class="form-group">
                <div class="col-xs-12 col-md-12 col-lg-12">
                  <%= profile_form.label "反手膠皮", :class => "form-label" %>:
                  <%= profile_form.text_field :backrubber, :class =>"form-control", :size => "50" %>
                </div>
              </div>

              <div class="col-xs-12 col-md-12 col-lg-12"></br></div>
              <div class="form-group">
                <div class="col-xs-12 col-md-12 col-lg-12">
                <div><%= f.label "會員照片" %><br />
                 <%= image_tag current_user.playerphoto.url(:thumb) , :id=> "img_preview", :style=>"width:300px;height:200px;overflow: auto;" %>
               </div>
              </div>
            </div>

              <div class="col-xs-12 col-md-12 col-lg-12"></br></div>
              <div class="form-group">
                <div class="col-xs-12 col-md-12 col-lg-12">
                  <%= f.label "會員更新照片上傳 : (請使用600x400或300x200比例)" %>
                  <%= f.file_field :playerphoto, :class => "file", :id => "member_photo", :onchange => "readURL(this)" %>
                </div>
              </div>
              
            <% end %>

             <div class="col-xs-12 col-md-12 col-lg-12"></br></div>
             <div class="form-group">
             <div class="col-xs-12 col-md-12 col-lg-12">
            <div><%= f.label "目前密碼" %> <i><font color=red>(資料變更作業需要輸入原密碼確認)</font></i><br />
             <%= f.password_field :current_password, autocomplete: "off",:required => true ,:class =>"form-control",:size => "50"%></div>
           </div>
            </div>

            <div class="col-xs-12 col-md-12 col-lg-12"></br></div>
            <div class="col-md-offset-4 col-md-5">
              <%= f.submit "進行變更作業", :class => "btn btn-block btn-info", :id => "btn-edit" do%>
                <i class="icon-hand-right"></i>
              <% end %>
            </div>
            <div class="col-md-3"></div>

          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
<div>


<% ['facebook'].each do |provider| %>

  <% if current_user.authorizations.pluck(:provider).include?(provider.to_s) %>
    <%= provider.to_s.titleize %> 帳號已連結
  <% end %>
<br/>
<% end %>

</div>
<p align=center><%= link_to '返回前頁', :back %></p>

















