<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
<p><%= @user.username %>球友您好,</p>

<p>為了讓您的桌盟積分更符合你目前的狀況，桌球愛好者聯盟將對您的積分作一次動態前置調整，此次調整後積分將成為您在<%= @gamename %>比賽的賽前積分請查悉!</p>
<p>您此次的積分調整將由原先 <%= @gameplayer["original bscore"] %>分， 調整為 <%= @gameplayer["adjustscore"] %> 調整幅度為 <%= @scorechange %> 分 。 </p>

 <p>桌盟積分賽的積分計算規則,請參考 <%= link_to "桌盟積分賽規則說明網頁", lttfratinginfo_games_url %> </p>
<p>桌球愛好者聯盟敬上  </p>

  </body>
</html>