<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p><%= @gameholder.username %>球友您好,</p>
    <p>您所主辦的本賽事報名球友異動資料如下:</p>
    <%if @changetype=='cancel' %>
        <table border=1 link=blue>
          <caption class="text-center" ><strong>取消報名隊伍:</strong></caption>
          <tr>
            <th align=center>會員編號</th>
            <th align=center>會員姓名</th>
            <th align=center>目前積分</th>
            <th align=center>會員編號</th>
            <th align=center>會員姓名</th>
            <th align=center>目前積分</th>
          </tr>
          <tr>
          <td align=center><font color=blue><%=  @cancelledplayerlist[0]["player_id"] %></td>
          <td align=center><font color=blue><%=  @cancelledplayerlist[0]["name"] %></td>
          <td align=center><font color=blue><%=  @cancelledplayerlist[0]["curscore"] %></td>
          <td align=center><font color=blue><%=  @cancelledplayerlist[1]["player_id"] %></td>
          <td align=center><font color=blue><%=  @cancelledplayerlist[1]["name"] %></td>
          <td align=center><font color=blue><%=  @cancelledplayerlist[1]["curscore"] %></td>
          </tr>
        </table> 
        
      <%end%>  
      <%if @changetype=='register' %>
        <table border=1 link=blue>
          <caption class="text-center" ><strong>新增報名隊伍:</strong></caption>
          <tr>
            <th align=center>會員編號</th>
            <th align=center>會員姓名</th>
            <th align=center>目前積分</th>
            <th align=center>會員編號</th>
            <th align=center>會員姓名</th>
            <th align=center>目前積分</th>
          </tr>
          <tr>
          <td align=center><font color=blue><%=  @newplayerlist[0].player_id %></td>
          <td align=center><font color=blue><%=  @newplayerlist[0].name %></td>
          <td align=center><font color=blue><%=  @newplayerlist[0].curscore %></td>
          <td align=center><font color=blue><%=  @newplayerlist[1].player_id %></td>
          <td align=center><font color=blue><%=  @newplayerlist[1].name %></td>
          <td align=center><font color=blue><%=  @newplayerlist[1].curscore %></td>
          </tr>
        </table> 
        
      <%end%>  
     本組別原設定參賽隊伍為<%= @gamegroup.noofplayers %>隊, 目前報名隊伍共<%=@totalcount%>隊, 其中正選<%= @officialcount %>隊, 候補<%=@backupcount%>隊<br><br>

      <%= link_to  @holdgame.startdate.to_s+@holdgame.gamename+'報名網頁', holdgame_gamegroups_url(@holdgame) %>

    </p>
    <p>桌球愛好者聯盟敬上</p>
  </body>
</html>