<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p><%= @gameholder.username %>球友您好,</p>
    <p>您所主辦的本賽事報名球友異動資料如下:</p>
    <p style="white-space: pre-line ;width:auto; text-align:justify ">
      <%if @changetype=='cancel' %>	
        <% if	@newofficial%>
          正選參賽取消球員: 桌盟會員編號:<%= @cancelled_player_id %>, 姓名:<%= @cancelled_palyer_name %>
          遞補正選參賽球員: 桌盟會員編號:<%= @newofficial.player_id %>, 姓名:<%= @newofficial.name %>
        <%else%>
          取消報名球員: 桌盟會員編號:<%= @cancelled_player_id  %>, 姓名:<%=  @cancelled_palyer_name  %>
        <%end%>
      <%end%>
      <%if @changetype=='register' %>
         新增報名球員: 桌盟會員編號:<%= @newofficial.player_id %>, 姓名:<%= @newofficial.name %>
      <%end%>  
     本組別原設定參賽人數為<%= @gamegroup.noofplayers %>人, 目前報名人數共<%=@totalcount%>人, 其中正選<%= @officialcount %>人, 候補<%=@backupcount%>人
      <%= link_to  @holdgame.startdate.to_s+@holdgame.gamename+'報名網頁', holdgame_gamegroups_url(@holdgame) %>

    </p>
    <p>桌球愛好者聯盟敬上</p>
  </body>
</html>