<?xml version="1.0"?>
<Workbook xmlns="urn:schemas-microsoft-com:office:spreadsheet"
  xmlns:o="urn:schemas-microsoft-com:office:office"
  xmlns:x="urn:schemas-microsoft-com:office:excel"
  xmlns:ss="urn:schemas-microsoft-com:office:spreadsheet"
  xmlns:html="http://www.w3.org/TR/REC-html40">
  <Worksheet ss:Name="Sheet1">
    <Table>

      <Row>
        <Cell><Data ss:Type="String">編號</Data></Cell>
        <Cell><Data ss:Type="String">姓名</Data></Cell>
        <Cell><Data ss:Type="String">5XL</Data></Cell>
        <Cell><Data ss:Type="String">4XL</Data></Cell>
        <Cell><Data ss:Type="String">3XL</Data></Cell>
        <Cell><Data ss:Type="String">2XL</Data></Cell>
        <Cell><Data ss:Type="String">XL</Data></Cell>
        <Cell><Data ss:Type="String">L</Data></Cell>
        <Cell><Data ss:Type="String">M</Data></Cell>      
        <Cell><Data ss:Type="String">S</Data></Cell>
        <Cell><Data ss:Type="String">XS</Data></Cell>
        <Cell><Data ss:Type="String">總件數</Data></Cell>
        <Cell><Data ss:Type="String">取貨方式</Data></Cell>
        <Cell><Data ss:Type="String">寄送地址</Data></Cell>
        <Cell><Data ss:Type="String">確認付款</Data></Cell>
        <Cell><Data ss:Type="String">寄送完成</Data></Cell>
        <Cell><Data ss:Type="String">寄送日期</Data></Cell>

      </Row>
      <% @shopcarts.each do |shopcart| %>
      <Row>
        <Cell><Data ss:Type="Number"><%= shopcart.user_id.to_i %></Data></Cell>
        <Cell><Data ss:Type="String"><%= shopcart.user.username %></Data></Cell>
        <Cell><Data ss:Type="Number"><%= shopcart.X5L.to_i %></Data></Cell>
        <Cell><Data ss:Type="Number"><%= shopcart.X4L.to_i %></Data></Cell>
        <Cell><Data ss:Type="Number"><%= shopcart.X3L.to_i %></Data></Cell>
        <Cell><Data ss:Type="Number"><%= shopcart.X2L.to_i%></Data></Cell>
        <Cell><Data ss:Type="Number"><%= shopcart.XL.to_i %></Data></Cell>
        <Cell><Data ss:Type="Number"><%= shopcart.L.to_i %></Data></Cell>
        <Cell><Data ss:Type="Number"><%= shopcart.M.to_i %></Data></Cell>
        <Cell><Data ss:Type="Number"><%= shopcart.S.to_i %></Data></Cell>
        <Cell><Data ss:Type="Number"><%= shopcart.XS.to_i %></Data></Cell>
        <Cell><Data ss:Type="String"><%= shopcart.totalcarts.to_i%> </Data></Cell>   
        <Cell><Data ss:Type="String"><%= shopcart.take_or_mail %> </Data></Cell>
        <Cell><Data ss:Type="String"><%= shopcart.address%> </Data></Cell> 
        <% if shopcart.pay_check %>
            <Cell><Data ss:Type="String">已付款 </Data></Cell>
        <% else %>
            <Cell><Data ss:Type="String">未付款 </Data></Cell>
        <%end%>    
        <% if shopcart.sent_flag %>
            <Cell><Data ss:Type="String">已寄送 </Data></Cell>
        <% else %>
            <Cell><Data ss:Type="String">未寄送</Data></Cell>
        <%end%>  
        
         <Cell><Data ss:Type="String"><%= shopcart.sent_date %></Data></Cell>
      </Row>
    <% end %>
      

    </Table>
  </Worksheet>
</Workbook>