<script type="text/javascript" src="http://code.jquery.com/jquery-1.7.1.min.js"></script>
<div class="table-responsive datagrid">
  <table class="datatable  table-striped table-condensed" border=1 link=blue>
    <caption class="text-center" ><strong>比賽主辦者資料審核表</strong></caption> 

    <thead>
      <tr>
        <th>會員照片</th>
        <th>會員編號</th>
        <th>姓名</th>
        <th>主辦場地</th>
        <th>地址</th>
        <th>聯絡電話</th>
        <th>贊助單位</th>
        <th>檢視</th>
        <th>編輯</th>
        <th>刪除</th>
        <th>核准</th>
      </tr>
    </thead>
    <tbody>
      <% @gameholders.each do |gameholder| %>
    <tr>
    <td><%= image_tag(gameholder.user.playerphoto_url(:tiny),:class => "dp img-circle img-responsive") %></td>
    <td><%= gameholder.user_id %></td>
    <td nowrap="nowrap"><%= gameholder.name %></td>
    <td><%= gameholder.courtname %></td>
    <td><%= gameholder.address %></td>
    <td><%= gameholder.phone %></td>
    <td><%= gameholder.sponsor %></td>
     <td><%= button_to '詳細資料',gameholder, :class => "button", :method => :get  %></td>
    <td><%=  button_to '修改資料', edit_gameholder_path(gameholder),:method => :get, :disabled => !((current_user.has_role? :admin) ||(current_user.has_role? :superuser) )  %></td>
    <td><%= button_to '刪除此筆', gameholder, method: :delete, data: { confirm: '確定移除此筆主辦人資料?' } , :disabled => !( (current_user.has_role? :admin) || (current_user.has_role? :superuser)  ) %></td>
    <td><%= button_to '核准', {:controller => "gameholders", :action => "approve" , :id => gameholder.id },:method => :post, data: { confirm: '確定核准此筆申請資料?' }  %></td>
    </tr>
   <% end %>
    </tbody>
    <tfoot>
      <tr>
      <td colspan="12">
      <div class="text-center">
        <%= paginate @gameholders, :theme => 'twitter-bootstrap-3' %>
      </div>
      </td>
      </tr>
    </tfoot>
  </table>
</div>

<%= link_to 'Back', gameholders_path %>

