<%= form_for(@holdgame) do |holdgamef| %>
 

<div class="row">
  <div class="col-xs-12 col-md-12 col-lg-12">
    <div style="margin-top:50px;" class="mainbox col-xs-8 col-xs-offset-2">
      <div class="panel panel-info">
        <div class="panel-heading">
          <div class="panel-title">
            <i class="fa fa-users"></i>&nbsp;桌盟新比賽資料建檔
          </div>
        </div>
        <div style="padding-top:30px" class="panel-body" >

          <%= form_for(@gamegroup ,:html =>{:class =>"form-horizontal form-inline",:role =>"form" }) do |f| %>
            <% if @gamegroup.errors.any? %>
              <div id="error_explanation">
                <h2><%= pluralize(@gamegroup.errors.count, "error") %> prohibited this gamegroup from being saved:</h2>

                <ul>
                  <% @gamegroup.errors.full_messages.each do |msg| %>
                    <li><%= msg %></li>
                  <% end %>
               </ul>
              </div>
            <% end %>
            <div class="form-group">
              <div class="col-xs-12 col-md-12 col-lg-12">
                <%= f.label "分組名稱", :class => "form-label" %>:
                <%= f.text_field :groupname %>
              </div>
            </div>

            <div class="form-group">
              <div class="col-xs-12 col-md-12 col-lg-12">
                <%= f.label "分組比賽制度", :class => "form-label" %>:
                <%= f.select  :grouptype, ['個人賽', '雙打賽','團體賽'] %>
              </div>
             </div> 

            <div class="form-group">
              <div class="col-xs-12 col-md-12 col-lg-12">
                <%= f.label "正取參賽人數", :class => "form-label" %>:
                <%= f.number_field :noofplayers %>
              </div>
            </div>
            <div class="form-group">
              <div class="col-xs-12 col-md-12 col-lg-12">
                <%= f.label "備取人數", :class => "form-label" %>:
                <%= f.number_field :noofbackupplayers %>
              </div>
            </div>

            <div class="form-group">
              <div class="col-xs-12 col-md-12 col-lg-12">
                <%= f.label "參賽積分限制", :class => "form-label" %>:
                <%= f.select  :scorelimitation, ['限制最高分', '限制最低分','限制高低分', '無積分限制'] %>
              </div>
            </div>   

            <div class="form-group">
              <div class="col-xs-12 col-md-12 col-lg-12">
                <%= f.label "低分限制", :class => "form-label" %>:
                <%= f.number_field :scorelow, ['限制最高分', '限制最低分','限制高低分', '無積分限制'] %>
              </div>
            </div>                  
            <div class="form-group">
              <div class="col-xs-12 col-md-12 col-lg-12">
                <%= f.label "高分限制", :class => "form-label" %>:
                <%= f.number_field :scorehigh, ['限制最高分', '限制最低分','限制高低分', '無積分限制'] %>
              </div>
            </div>         
  
            <div class="col-xs-12 col-md-12 col-lg-12"></br></div>
              <div class="col-md-offset-4 col-md-5">
                <%= f.submit "建立比賽資料", :class => "btn btn-block btn-info", :id => "btn-signup" do%>
                <i class="icon-hand-right"></i>
              <% end %>
            </div>

          <% end %>
        </div>
      </div>
    </div>
  </div>      
</div>  
<% end %>