

<div class="col-xs-12 col-md-12 col-lg-12">
<div class="table-responsive datagrid">
  <table class="table-striped table-condensed" border=1 >
    <tbody>
        <td><font color="black">分組名稱:</font></td>
        <td><font color="black">比賽賽制:</font></td>
        <td><font color="black">報名方式:</font></td>
        <td ><font color="black">開賽時間:</font></td>

    
        <tr>
        <td><strong><%=gamegroup.groupname %></strong></td>
        <td><strong><%=gamegroup.grouptype %></strong></td>
        <td><strong><%=Gamegroup.regtypes[gamegroup.regtype] %></strong></td>
        <td ><strong><%= gamegroup.starttime.strftime("%F %H:%M")  %></strong></td>
        <tr>  
        <% if gamegroup.scorelimitation == '無積分限制' %>	
          <td ><font color="black">報名費用:</font></td>
          <td ><font color="black">積分限制:</font></td>
          <td><font color="black">預計參賽/備取人數:</font></td> 
          <td><font color="black">已報名人數(正選/備取):</font></td> 
          <tr>
          <td><strong><%=gamegroup.gamefee %></strong></td>    
          <td><strong><%=gamegroup.scorelimitation %></strong></td> 
          <td><strong><%=gamegroup.noofplayers %>/<%=gamegroup.noofbackupplayers %></strong></td>
      
        <% end %>
        <% if gamegroup.scorelimitation == '限制高低分' %>	
          <td ><font color="black">報名費用:</font></td>
          <td><font color="black">積分限制:</font></td>
          <td><font color="black">預計參賽/備取人數:</font></td> 
          <td><font color="black">已報名人數(正選/備取):</font></td> 
          <tr>
          <td><strong><%=gamegroup.gamefee %></strong></td>    
          <td><strong><%=gamegroup.scorelow%>~<%=gamegroup.scorehigh%></strong></td> 
          <td><strong><%=gamegroup.noofplayers %>/<%=gamegroup.noofbackupplayers %></strong></td>
      
        <% end %>
        <% if gamegroup.scorelimitation == '限制最高分' %>	
          <td><font color="black">報名費用:</font></td>
          <td><font color="black">積分限制:</font></td>
          <td><font color="black">預計參賽/備取人數:</font></td> 
          <td><font color="black">已報名人數(正選/備取):</font></td> 
          <tr>
          <td><strong><%=gamegroup.gamefee %></strong></td>    
          <td><strong>小於<%=gamegroup.scorehigh%></strong></td> 
          <td><strong><%=gamegroup.noofplayers %>/<%=gamegroup.noofbackupplayers %></strong></td>
      
        <% end %>
        <% if gamegroup.scorelimitation == '限制最低分' %>	
          <td ><font color="black">報名費用:</font></td>
          <td><font color="black">積分限制:</font></td>
          <td><font color="black">預計參賽/備取人數:</font></td> 
          <td><font color="black">已報名人數(正選/備取):</font></td> 
          <tr>
          <td><strong><%=gamegroup.gamefee %></strong></td>    
          <td><strong>大於<%=gamegroup.scorelow%></strong></td> 
          <td><strong><%=gamegroup.noofplayers %>/<%=gamegroup.noofbackupplayers %></strong></td>
      
        <% end %>        
      </tbody> 
    
      
</table>

</div>
 <%= link_to 'show', holdgame_gamegroup_path(@holdgame,gamegroup) %>
         <%= link_to 'edit', edit_holdgame_gamegroup_path(@holdgame, gamegroup) %>
         <%= link_to 'destroy', holdgame_gamegroup_path(@holdgame, gamegroup),
                      :method => :delete %>  
              



<!-- Button (Double) -->


<table width="100">
<tr>
  <% if @holdgame.gameholder_id==current_user.id|| current_user.has_role?(:admin)||current_user.has_role?(:superuser)   %>
     <td><%= button_to '修改分組資料', edit_holdgame_gamegroup_path(@holdgame, gamegroup), :method=>:get %></td>

     <td><%= button_to '刪除此分組', holdgame_gamegroup_path(@holdgame, gamegroup),
                              :method => :delete %></td>
  <% end %>                            

<td>
       

  <% if !user_in_group && user_meet_group && gamegroup.regtype=='single'%>
     <%= button_to '報名參賽',registration_holdgame_gamegroups_path(@holdgame,gamegroup),{:onclick => "return confirm('確定報名參賽?')", :method => :post}  %>
  <%end%>   
       
         
</td>     
<% case gamegroup.regtype %>
  <% when "single" %>
     <td><%= button_to '幫他人(整批)報名', singleplayerinput_holdgame_gamegroups_path(@holdgame,gamegroup, :name => 'init') , :method=>:get  %></td>
  <% when "double" %>
       <td><%= button_to '幫他人(整批)報名', doubleplayersinput_holdgame_gamegroups_path(@holdgame,gamegroup, :name => 'init') , :method=>:get  %></td>
<%end%>                  
</tr>
</table>



</div>

<br>

<div class="table-responsive datagrid">
    <table class="datatable table-striped" border=1 link=blue>
      <caption class="text-center" ><strong>已報名清單</strong></caption> 

        <thead>
          <tr>
          <th>報名序號</th>
          <th>會員編號</th>
          <th>會員姓名</th>
          <th>目前積分</th>
          <th></th>
          </tr>
        </thead>  
        <tbody>

          <tr>
              <%  attendeearray.each_with_index do |player,serial| %> 
              
                <td><%= serial+1 %></td>
              
                <td><%= player.player_id %></td>
                <td><%= player.name %></td>
                <td><%= player.curscore %></td>
                <td>
                    <% if player.player_id==current_user.id ||  player.registor_id==current_user.id ||@holdgame.gameholder_id==current_user.id|| current_user.has_role?(:admin)||current_user.has_role?(:superuser)   %>
                 
                      <%= button_to '取消報名', cancel_current_user_registration_holdgame_gamegroups_path(@holdgame, gamegroup, :user_in_groupattendant=>gamegroup.find_player_in_attendants(player.player_id)) ,  {:onclick => "return confirm('確定取消報名?')", :method => :post}  %>
                    <%end%>
                </td>  
                </tr> 
    
              <% end %>
        
            
       
      </tbody>    
      <tfoot>

  
      </tfoot>  
    </table>  
  </div>
