<form class="form-inline">
<%= form_tag doubleplayersinput_holdgame_gamegroups_path, multipart: true do %>
  <p align =center>   
  1:<input type="text" id="keyword1" name="keyword1" class="form-control" value="<%= @query_string %>" placeholder="<%= @query_string ||   "姓名或編號皆可" %>">
  2:<input type="text" id="keyword2" name="keyword2" class="form-control" value="<%= @query_string %>" placeholder="<%= @query_string ||   "姓名或編號皆可" %>">

    <%= submit_tag "輸入", :name => "getplayerfromuser" %> 
      
  </p> 

<br>
<div class="table-responsive datagrid">
    <table class="datatable table-striped" border=1 link=blue>
      <caption class="text-center" ><strong>報名清單</strong></caption> 
      <thead>
        <tr>
        <th>會員編號</th>
        <th>會員姓名</th>
        <th>目前積分</th>
        <th>會員編號</th>
        <th>會員姓名</th>
        <th>目前積分</th>
        </tr>
      </thead>  
      <tbody>
          
          <tr>
                          

                <% @playerlist.in_groups_of(2).each_with_index do |row_group, groupindex| %> 
              
               <td colspan=6>第 <%= groupindex+1 %>隊</td>
               </tr>
                <%for player in row_group%>
                         
                <td> <%= number_field_tag  "playerid[]", player.id  %></td>
                <td> <%= text_field_tag   "playername[]", player.username  %></td>
                <td> <%= text_field_tag   "playercurscore[]", player.playerprofile.curscore %></td>
                <%end%>
                </tr>
    
              <% end %>
      
       
      </tbody>    
      <tfoot>
     </tfoot>  
    </table>  
  </div>



<table width="100">
<tr>
  
                            

<td>
 
  <%= submit_tag '確認輸入參賽名單', :name => "registration" , data: { confirm:'確認輸入參賽名單?' }  %>
</td>
<td>     
  <%= submit_tag '放棄輸入參賽名單', :name => "quit", data: { confirm:'確認放棄輸入?' }  %>

</td>    
                      
</tr>
</table>
<%end%>   
 




















    