<script type="text/javascript" src="http://code.jquery.com/jquery-1.7.1.min.js"></script>
<script src="https://maps.googleapis.com/maps/api/js?libraries=places&key=AIzaSyAeQ-zOQ8eENrd2wbVDPs7HhcmTVj-hPiI"></script>
<%= include_gon %>
<% set_meta_tags :og => { :title => @holdgame.startdate.to_s+@holdgame.gamename+'報名網頁' , :image => 'http://twlttf.org/LTTF_logo.png', :description =>'歡迎球友前往此報名網頁報名參賽', :url=>holdgame_gamegroups_url(@holdgame)} %>

<link rel="canonical" href= <%=holdgame_gamegroups_url(@holdgame)%> />    
<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
  <h1 align=center> <%= @holdgame.startdate %> <%= @holdgame.gamename %></h1>
  


       
   <div class ="well" style='width: 100%'>

    <p>
    <b>比賽名稱:</b>
     <font color="blue"><%= @holdgame.gamename %></font>
    </p>

    <p>
    <b>比賽日期:</b>
      <font color="blue">
         <% if @holdgame.gamedays==1 %>
            <%= @holdgame.startdate %>
         <%else%>
            <%= @holdgame.startdate %>~ <%= @holdgame.enddate %>
         <%end%>   
      </font>
    </p>
    <p>
    <b>比賽場地:</b>
      <font color="blue"><%= @holdgame.courtname %></font>
    </p>
    <p>
      <b>比賽地址:</b>
      <font color="blue"><%= @holdgame.address %></font>
    </p>

    <p>
    <b>比賽類型:</b>
      <font color="blue"><%= @holdgame.gametype %></font>
    </p>

   <p>
      <b>主辦人:</b>
      <font color="blue"><%= @gameholder.name %></font>
   </p>


   <p>
     <b>主辦人電話:</b>
     <font color="blue"><%= @gameholder.phone %></font>
   </p>

   <p>
     <b>主辦人信箱:</b>
     <font color="blue"><%=  @gameholder.email %></font>
    </p>
   <p>
     <b>贊助單位:</b>
     <font color="blue"><%=  @holdgame.sponsors %></font>
   </p>

   <p>
    <b>比賽相關資料說明:</b>
      <p style="white-space: pre-line ;width:auto; text-align:justify ">
        <font color="blue"><%= h auto_link(simple_format(@holdgame.gamenote)) %></font>
    </p>
   </p>
   
  <div id="map" style='width: 100%; height: 250px;'></div>
     

  <div class="table-responsive datagrid" >
  <table class="table-striped table-condensed" border=1 >
    <tr>
      <% if current_user && ( @holdgame.gameholder.user_id==current_user.id || current_user.has_role?(:admin)||current_user.has_role?(:superuser)|| @holdgame.find_gamecoholder(current_user.id))   %>
        <td><%= button_to '新增分組', new_holdgame_gamegroup_path(@holdgame), :method => :get  %></td>
        <td><%= link_to "輸入成績", copy_players_list_holdgames_path(@holdgame) ,:target=> '_blank' ,data: { confirm: 
                 '要進行輸入成績作業前請確定已登入google'}, :class=> "button radius" %></td>
        <td> <%= button_to "上傳成績", uploadfile_fromholdgame_uploadgames_path(@holdgame), {:onclick => "return confirm('請確認已輸入比賽成績後再上傳?')", :method => :get}   %></td>
        <td>  <%= link_to "寄通知信", preparesendmail_holdgame_gamegroups_path(@holdgame),:class=> "button radius" %></td>
        <td>  <%= link_to "公告於桌盟", publishtoFB_holdgame_gamegroups_path,:class=> "button radius", :confirm=>'確認張貼本賽事公告於桌盟FB?' %></td>

      <%end%>  
    </tr>
  </table>
 </div>



<!div class ="well" >  

    <ul class="nav nav-tabs nav-justified" id="tabs" role="tablist" > 
      <% @gamegroups.each_with_index do |gamegroup, tabindex| %>
        <% if gamegroup.id== @targetgroup_id %>
            <li class="active"><a href= "<%= '#tab'+ (tabindex+1).to_s %>"  role="tab" data-toggle="tab"><%=gamegroup.groupname %></a></li>
         <% else %>
            <li><a href= "<%= '#tab'+ (tabindex+1).to_s %>"  role="tab" data-toggle="tab"><%=gamegroup.groupname %></a></li>
         
        <% end %>  
        
      <%end%>
 
      <div class="tab-content my-tab " >
          <% @gamegroups.each_with_index do |gamegroup,tabindex| %>
          <% if gamegroup.id==@targetgroup_id %>
            <div class="tab-pane in active"  id="<%= 'tab'+ (tabindex+1).to_s %>" >
          <% else %>
            <div class="tab-pane" id="<%= 'tab'+ (tabindex+1).to_s %>" >
          <% end  %>  

          <% if !current_user %>
            <% @user_registered=false %>
            <% @user_in_group=false %>
            <% @user_meet_group=false %>
          <% else %>
            <% @user_in_group=gamegroup.findplayer(current_user.id) %>
            <% @user_meet_group=gamegroup.check_single_meet_group_qualify(current_user.playerprofile.curscore) %>
          <% end %>  

          <%case gamegroup.regtype %>
          <% when 'single' %>
            <%= render :partial => "showsingle", :locals => { :gamegroup => gamegroup , :attendeearray =>  gamegroup.allgroupattendee, :user_registered=>@user_registered, :user_in_group => @user_in_group, :user_meet_group => @user_meet_group, :in_blacklist_flag=>@in_blacklist_data} %>
          <% when 'double' %>
            <%= render :partial => "showdouble", :locals => { :gamegroup => gamegroup , :attendeearray =>  gamegroup.allgroupattendee, :user_registered=>@user_registered, :user_in_group =>@user_in_group, :user_meet_group =>@user_meet_group, :in_blacklist_flag=>@in_blacklist_data} %>
          <% when 'team' %>
            <%= render :partial => "showteam", :locals => { :gamegroup => gamegroup , :attendeearray =>  gamegroup.allgroupattendee, :user_registered=>@user_registered, :user_in_group => @user_in_group, :user_meet_group =>@user_meet_group,:in_blacklist_flag=>@in_blacklist_data} %>
          <%end%> 

          </div> 
       
 
        <%end%>    
      </div>

   </ul>
 
</div>
<a href="#" id="startmodal" class="btn btn-lg btn-info" data-toggle="modal" data-target="#myModal" style="display: none">#</a>

<div class="modal fade" id="myModal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h4 class="modal-title">注意事項</h4>
      </div>
      <div class="modal-body">
        <div class="container">
          <div class="row">   
            <br><strong>親愛的球友:您尚未登入本積分系統，所以無法報名比賽!</strong>
            <br><Strong>如果您尚未註冊，請即刻前往 <%= link_to "桌盟積分系統註冊網頁" ,new_user_registration_path%> 註冊!</Strong>
            <br><br><Strong>如果您已是註冊會員，請先 <%= link_to "登入" ,new_user_session_path%> 後才可報名各項比賽!</Strong>
            <br><Strong>如果您已設定FB帳號連結,可從FB <%= link_to(image_tag("/images/facebook.ico"),user_omniauth_authorize_path('facebook'))  %>登入。
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" >OK</button>
                
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->


<a href="#" id="blacklistmodal" class="btn btn-lg btn-info" data-toggle="modal" data-target="#myBlacklistModal" style="display: none">#</a>

<div class="modal fade" id="myBlacklistModal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h4 class="modal-title">黑名單通知</h4>
      </div>
      <div class="modal-body">
        <div class="container">
          <div class="row">   
            <br><strong><font color='red'>很抱歉！您已被本賽事主辦人列為黑名單,所以您已無法報名該主辦人所主辦之任何桌盟賽事!</font></strong>
            <%if @in_blacklist_data && @in_blacklist_data.note!="" %>
             <br><strong>被列入黑名單之原因：<font color ="red" ><%= @in_blacklist_data.note %></font></strong>

            <%end%>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" >離開</button>
                
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<a href="#" id="doubleregisteredmodal" class="btn btn-lg btn-info" data-toggle="modal" data-target="#myDoubleRegisteredModal" style="display: none">#</a>

<div class="modal fade" id="myDoubleRegisteredModal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h4 class="modal-title">注意事項</h4>
      </div>
      <div class="modal-body">
        <div class="container">
          <div class="row">   
            <br><strong><font color='red'>請注意!您已經報名相同時段之其他場賽事,所以本賽事某些組別無法報名！若欲報名本賽事,則需取消其他場賽事同時段之分組報名,才可報名本賽事"!</font></strong>
     
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" >離開</button>
                
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->


<script type="text/javascript">
    $(window).load(function(){
      if( gon.log_in==0)
      {
        document.getElementById("startmodal").click();
      }  
      if( gon.blacklist==1)
      {
        document.getElementById("blacklistmodal").click();
      }  
      if( gon.doubleresistered==1)
      {
        document.getElementById("doubleregisteredmodal").click();
      } 
    });
</script>