<%= content_for :head do %>
 <link href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.10.2/themes/hot-sneaks/jquery-ui.css" rel="stylesheet">
  <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.10.2/jquery-ui.min.js"></script>
  <%= javascript_include_tag "jquery-ui-timepicker-addon" %>
  <%= javascript_include_tag "jquery-ui-sliderAccess.js" %>
  <style>
    article,aside,figure,figcaption,footer,header,hgroup,menu,nav,section {display:block;}
    body {font: 62.5% "Trebuchet MS", sans-serif; margin: 50px;}
  </style>
<% end %>


<%= form_for @gamegroup,:html =>{:class =>"form-horizontal form-inline",:role =>"form" }, :url => holdgame_gamegroups_path(@holdgame) do |f| %>
   
<div class="row">
  <div class="col-xs-12 col-md-12 col-lg-12">
    <div style="margin-top:50px;" class="mainbox col-xs-8 col-xs-offset-2">
      <div class="panel panel-info">
        <div class="panel-heading">
          <div class="panel-title">
            <i class="fa fa-users"></i>&nbsp;<%=@holdgame.gamename%>分組資料建檔
          </div>
        </div>
        <div style="padding-top:30px" class="panel-body" >

            <div class="form-group">
              <div class="col-xs-12 col-md-12 col-lg-12">
                <%= f.label "分組名稱:", :class => "form-label" %>
                <%= f.text_field :groupname, :required => true, :autofocus => true, :class => "form-control"  %>
              </div>
            </div>
             
            <div class="form-group">
              <div class="col-xs-12 col-md-12 col-lg-12">
                <%= f.label "開始時間:", :class => "form-label" %>
                <%= f.text_field  :starttime, :required => true , :class => "form-control"  %>
              </div>
             </div> 
            
            <div class="form-group">
              <div class="col-xs-12 col-md-12 col-lg-12">
                <%= f.label "參賽費用:", :class => "form-label" %>
                <%= f.number_field  :gamefee ,:required => true, :class => "form-control" %>
              </div>
            </div> 
            <div class="form-group">
              <div class="col-xs-12 col-md-12 col-lg-12">
                <%= f.label "參賽人數:", :class => "form-label" %>
                <%= f.number_field :noofplayers , :required => true , :class => "form-control" %>
              </div>
            </div>
             <br>
            <div class="form-group">
              <div class="col-xs-12 col-md-12 col-lg-12">
                <%= f.label "比賽制度:", :class => "form-label" %>
                <%= f.select  :grouptype, ['個人賽', '雙打賽','團體賽'],:required => true,  :class => "form-control" %>
              </div>
            </div> 
            <br>
          
              
                <div class="form-group">
                  <div class="col-xs-12 col-md-12 col-lg-12">
                 
                
                <%= f.label '報名方式:',:class => "control-label", :for=> "raidos"  %>

                <label class="radio inline" for="gamegroup_regtype_single">
                <%= f.radio_button :regtype , "single", :checked => 'checked',:class => "form-control", :onClick=>"regtypenotdoubleclick();" %>個人
               </label>
                <label class="radio inline" for="gamegroup_regtype_double">
                <%= f.radio_button :regtype , "double",:class => "form-control" , :onClick=>"regtypedoubleclick();" %>兩人
                 </label>
                  <label class="radio inline" for="gamegroup_regtype_double">
                <%= f.radio_button :regtype , "team" ,:class => "form-control" , :onClick=>"regtypedoubleclick();" %>團隊
              </label>
              </div>
         
            </div>
             <br>


            <div class="form-group">
              <div class="col-xs-12 col-md-12 col-lg-12">
                <%= f.label "個人積分限制:", :class => "form-label" %>
                <%= f.select  :scorelimitation, ['限制高低分','限制最高分', '限制最低分', '無積分限制'], {:required => true, :class => "form-control", :size => "50"},  :onchange=>"toggleSingleSelect();" %>
              </div>
            </div>   
            <br>
            <div class="form-group">
              <div class="col-xs-12 col-md-12 col-lg-12">
                <%= f.label "個人低分限制:", :class => "form-label",:id=> "low-label" %>
                <%= f.number_field :scorelow , :class => "form-control" ,:size=>"50" %>
              </div>
            </div>                  
            <div class="form-group">
              <div class="col-xs-12 col-md-12 col-lg-12">
                <%= f.label "個人高分限制:", :class => "form-label", :id=> "high-label" %>
                <%= f.number_field :scorehigh ,  :class => "form-control", :size=>"50" %>
              </div>
            </div> 
            <br><br>  
           
               <div id="double-block" style="display:none">
 
              <div class="form-group">
              <div class="col-xs-12 col-md-12 col-lg-12">
                <%= f.label "雙打/團體總和積分限制:", :class => "form-label" , :id=> "double-limit-label"%>
                <%= f.select  :double_score_sum_limitation, ['限制高低分','限制最高分', '限制最低分', '無積分限制'], {:required => true, :class => "form-control", :size => "50"},  :onchange=>"toggleDoubleSelect();" %>
              </div>
            </div>   
            <br>
            <div class="form-group">
              <div class="col-xs-12 col-md-12 col-lg-12">
                <%= f.label "雙打/團體總和低分限制:", :class => "form-label",:id=> "double-low-label" %>
                <%= f.number_field :double_scorelow , :class => "form-control" ,:size=>"50" %>
              </div>
            </div>                  
            <div class="form-group">
              <div class="col-xs-12 col-md-12 col-lg-12">
                <%= f.label "雙打/團體總和高分限制:", :class => "form-label", :id=> "double-high-label" %>
                <%= f.number_field :double_scorehigh , :class => "form-control", :size=>"50" %>
              </div>
            </div>  
            </div>

  
            <div class="col-xs-12 col-md-12 col-lg-12"></br></div>
              <div class="col-md-offset-4 col-md-5">
                <%= f.submit "建立比賽資料", :class => "btn btn-block btn-info", :id => "btn-signup" do%>
                <i class="icon-hand-right"></i>
              <% end %>
            </div>

          
        </div>
      </div>
    </div>
  </div>      
</div>  
<% end %>
<script language="JavaScript">
    $.datepicker.regional['zh-TW']={
   dayNames:["星期日","星期一","星期二","星期三","星期四","星期五","星期六"],
   dayNamesMin:["日","一","二","三","四","五","六"],
   monthNames:["一月","二月","三月","四月","五月","六月","七月","八月","九月","十月","十一月","十二月"],
   monthNamesShort:["一月","二月","三月","四月","五月","六月","七月","八月","九月","十月","十一月","十二月"],
   prevText:"上月",
   nextText:"次月",
   weekHeader:"週",
   };
$.timepicker.regional['zh-TW']={
   timeOnlyTitle:"選擇時分秒",
   timeText:"時間",
   hourText:"時",
   minuteText:"分",
   secondText:"秒",
   millisecText:"毫秒",
   timezoneText:"時區",
   currentText:"現在時間",
   closeText:"確定",
   amNames:["上午","AM","A"],
   pmNames:["下午","PM","P"]
   };
$.datepicker.setDefaults($.datepicker.regional["zh-TW"]);
$.timepicker.setDefaults($.timepicker.regional["zh-TW"]);

$("#gamegroup_starttime").datetimepicker({dateFormat:"yy-mm-dd", 
                                                        timeFormat:"HH:mm",
                                                        showSecond:false
                                                        });

</script>
<script type="text/javascript">

function toggleSingleSelect()
{
 
if (document.getElementById("gamegroup_scorelimitation").value == '限制最高分')
{
   document.getElementById("gamegroup_scorelow").style.display="none";
   document.getElementById("low-label").style.display="none";
   document.getElementById("gamegroup_scorehigh").style.display="block";
   document.getElementById("high-label").style.display="block";
  // document.getElementById("gamegroup_scorelow").visibled = true;
}
if (document.getElementById("gamegroup_scorelimitation").value == '限制最低分')
{
    document.getElementById("gamegroup_scorehigh").style.display="none";
    document.getElementById("high-label").style.display="none";
    document.getElementById("gamegroup_scorelow").style.display="block";
    document.getElementById("low-label").style.display="block";
}
if (document.getElementById("gamegroup_scorelimitation").value == '限制高低分')
{
    document.getElementById("gamegroup_scorehigh").style.display="block";
    document.getElementById("high-label").style.display="block";
    document.getElementById("gamegroup_scorelow").style.display="block";
    document.getElementById("low-label").style.display="block";
}
if (document.getElementById("gamegroup_scorelimitation").value == '無積分限制')
{
    document.getElementById("gamegroup_scorehigh").style.display="none";
    document.getElementById("high-label").style.display="none";
    document.getElementById("gamegroup_scorelow").style.display="none";
    document.getElementById("low-label").style.display="none";
} 
}
function toggleDoubleSelect()
{
 
if (document.getElementById("gamegroup_double_score_sum_limitation").value == '限制最高分')
{
   document.getElementById("gamegroup_double_scorelow").style.display="none";
   document.getElementById("double-low-label").style.display="none";
   document.getElementById("gamegroup_double_scorehigh").style.display="block";
   document.getElementById("double-high-label").style.display="block";
  // document.getElementById("gamegroup_scorelow").visibled = true;
}
if (document.getElementById("gamegroup_double_score_sum_limitation").value == '限制最低分')
{
    document.getElementById("gamegroup_double_scorehigh").style.display="none";
    document.getElementById("double-high-label").style.display="none";
    document.getElementById("gamegroup_double_scorelow").style.display="block";
    document.getElementById("double-low-label").style.display="block";
}
if (document.getElementById("gamegroup_double_score_sum_limitation").value == '限制高低分')
{
    document.getElementById("gamegroup_double_scorehigh").style.display="block";
    document.getElementById("double-high-label").style.display="block";
    document.getElementById("gamegroup_double_scorelow").style.display="block";
    document.getElementById("double-low-label").style.display="block";
}
if (document.getElementById("gamegroup_double_score_sum_limitation").value == '無積分限制')
{
    document.getElementById("gamegroup_double_scorehigh").style.display="none";
    document.getElementById("double-high-label").style.display="none";
    document.getElementById("gamegroup_double_scorelow").style.display="none";
    document.getElementById("double-low-label").style.display="none";
} 
}
function regtypedoubleclick()
{
  document.getElementById("double-block").style.display="block";
  document.getElementById("gamegroup_double_score_sum_limitation").style.display="block";
  document.getElementById("double-limit-label").style.display="block";
  document.getElementById("gamegroup_double_scorehigh").style.display="block";
  document.getElementById("double-high-label").style.display="block";
  document.getElementById("gamegroup_double_scorelow").style.display="block";
  document.getElementById("double-low-label").style.display="block"; 
} 
function regtypenotdoubleclick()
{
    document.getElementById("double-block").style.display="none";
    document.getElementById("gamegroup_double_score_sum_limitation").style.display="none";
    document.getElementById("double-limit-label").style.display="none";
    document.getElementById("gamegroup_double_scorehigh").style.display="none";
    document.getElementById("double-high-label").style.display="none";
    document.getElementById("gamegroup_double_scorelow").style.display="none";
    document.getElementById("double-low-label").style.display="none";
} 
</script>