

<form class="form-inline">
<%= form_tag test_holdgame_gamegroups_path, :method => :get do %>
    
     <p align =center>   
   <input type="text" id="keyword" name="keyword" class="form-control" value="<%= @query_string %>" placeholder="<%= @query_string ||   "姓名或編號皆可" %>">
       <%= submit_tag "輸入" %> 
     </p> 
<br>
<div class="table-responsive datagrid">
    <table class="datatable table-striped" border=1 link=blue>
      <caption class="text-center" ><strong>報名清單</strong></caption> 
      <thead>
        <tr>
        <th>報名序號</th>
        <th>會員編號</th>
        <th>會員姓名</th>
        <th>目前積分</th>
        </tr>
      </thead>  
      <tbody>
          
          <tr>
        
               <% @playerlist.each_with_index do |player,playerindex| %> 
             
                <td><%= playerindex+1 %></td>
             
                <td> <%= number_field_tag  "playerid[]", player.id  %></td>
                <td> <%= text_field_tag   "playername[]", player.username  %></td>
                <td> <%= text_field_tag   "playercurscore[]", player.playerprofile.curscore %></td>
                
                </tr>
    
              <% end %>
      
       
      </tbody>    
      <tfoot>
     </tfoot>  
    </table>  
  </div>
<%end%>






















    