

<p align=center><%= link_to '返回前頁', :back %></p>  
<div class='TableFormat_1'>
  <table cellpadding='0' cellspacing='0' align='center' width='100%' border="1"  >
      <caption >
        <strong>
          <%= @targetplayername %>-<%= @uploadgame.gamename %>
        </strong>
      </caption> 
      <thead>
        <tr>
        <th>會員編號</th>
        <th>姓名</th>
        <th>賽前積分</th>
        <th>勝場數</th>
        <th>敗場數</th>
        <th>賽後積分</th>
        <th>積分增減</th>
        </tr>
      </thead>  
      <tbody>
        <%  @playerssummery.each do |player| %> 
          <tr>
          <td><%= player["id"] %></td>
           <td class='summery'> 
           <%= link_to displayupload_show_player_games_uploadgames_path(@uploadgame,:player_name=>player["name"]), :remote=>true, data: {toggle: "modal", target: "#player_modal"} do %>
                 
            <i class="fa fa-file-o"></i>&nbsp;<font color="#3A01DF"> <%= player["name"] %></font>
          <% end %>
          </td>
         
          
          <td class='summery'><%= player["bgamescore"] %></td>
          <td class='summery'><%= player["wongames"] %></td>
          <td class='summery'><%= player["losegames"] %></td>
          <td class='summery'><%= player["agamescore"] %></td>
          <td class='summery'><%= player["scorechanged"] %></td>
  
          </tr>
        <% end %>
      </tbody>    
      <tfoot>
       
      </tfoot> 
    </table>  
  </div>
<br><br>
<div class='TableFormat_1'>
  <table cellpadding='0' cellspacing='0' align='center' width='100%' border="1"  >
      <caption class="text-center" ><strong><%= @targetplayername %>-詳細比賽紀錄表</strong></caption> 
      <thead>
        <tr> 
          <th>比賽組別</th>
          <th>對戰結果</th>
          <th>勝方</th>
        </tr>
      </thead>
      <tbody>  
        <%index=0%>
        <%  @gamesrecords.each do |game| %>
         

            <% @game_individual=Game.game_breakdown(game) %>
            <% if game["Aplayer"]==@targetplayername || game["Bplayer"]== @targetplayername%>
              <tr class=<%= "row"+(index%2).to_s%> >
              <%index=index+1%>  
              <% showname=game["group"].split('大亂鬥(決賽模式)成績')%>
              <!td class='Match_Num'><!%= game["group"] %><!/td>
              <td class='Match_Num'><%= showname[0] %></td>
              <td class='Match_Result' >
                <div class='MatchResult' >
                  <table cellpadding='0' cellspacing='0' align='center' width='100%' border="1"  >
                  <tbody>
                    <tr>
                      <td class="<%= game["Aplayer"]==@targetplayername? 'sameEntity' : 'TeamName' %>">

                      <%= link_to displayupload_show_player_games_uploadgames_path(@uploadgame,:player_name=>game["Aplayer"]), :remote=>true, data: {toggle: "modal", target: "#player_modal"} do %>
                          <i class="fa fa-file-o"></i>&nbsp;<font color="#3A01DF"> <%= game["Aplayer"] %> </font>
                        <% end %>
                        <% if game["Aplayer bgamescore"] %>
                          <br>
                          <font color='red'><%= game["Aplayer bgamescore"] %></font>
                        <% end %> 
                        <%if game["Players_scorechanged"] %>
                          <font color='red'>:(<%= @game_individual[0][5].to_i>@game_individual[1][5].to_i ? '+' : '-' %><%= game["Players_scorechanged"].to_s %>)</font>
                        <%end%> 
                      </td>
                      <td class="<%= @game_individual[0][5].to_i>@game_individual[1][5].to_i ? 'Final_Win' : 'Final_Loss' %>"><%= @game_individual[0][5] %></td>
                      <td class="<%= @game_individual[0][0].to_i>@game_individual[1][0].to_i ? 'Score_Win' : 'Score_Loss' %>"><%= @game_individual[0][0] %></td>
                      <td class="<%= @game_individual[0][1].to_i>@game_individual[1][1].to_i ? 'Score_Win' : 'Score_Loss' %>"><%= @game_individual[0][1] %></td>
                      <td class="<%= @game_individual[0][2].to_i>@game_individual[1][2].to_i ? 'Score_Win' : 'Score_Loss' %>"><%= @game_individual[0][2] %></td>
                      <td class="<%= @game_individual[0][3].to_i>@game_individual[1][3].to_i ? 'Score_Win' : 'Score_Loss' %>"><%= @game_individual[0][3] %></td>
                      <td class="<%= @game_individual[0][4].to_i>@game_individual[1][4].to_i ? 'Score_Win' : 'Score_Loss' %>"><%= @game_individual[0][4] %></td>                        
                    </tr>
                    <tr>
                      <td class="<%= game["Bplayer"]==@targetplayername? 'sameEntity' : 'TeamName' %>">

                      <%= link_to displayupload_show_player_games_uploadgames_path(@uploadgame,:player_name=>game["Bplayer"]), :remote=>true, data: {toggle: "modal", target: "#player_modal"} do %>
                          <i class="fa fa-file-o"></i>&nbsp;<font color="#3A01DF"> <%= game["Bplayer"] %> </font>
                        <% end %>
                        <% if game["Bplayer bgamescore"] %>
                          <br>
                          <font color='red'><%= game["Bplayer bgamescore"] %></font>
                        <% end %> 
                        <%if game["Players_scorechanged"] %>
                          <font color='red'>:(<%= @game_individual[1][5].to_i>@game_individual[0][5].to_i ? '+' : '-' %><%= game["Players_scorechanged"].to_s %>) </font>
                        <%end%> 
                      </td>
                      <td class="<%= @game_individual[1][5].to_i>@game_individual[0][5].to_i ? 'Final_Win' : 'Final_Loss' %>"><%= @game_individual[1][5] %></td>
                      <td class="<%= @game_individual[1][0].to_i>@game_individual[0][0].to_i ? 'Score_Win' : 'Score_Loss' %>"><%= @game_individual[1][0] %></td>
                      <td class="<%= @game_individual[1][1].to_i>@game_individual[0][1].to_i ? 'Score_Win' : 'Score_Loss' %>"><%= @game_individual[1][1] %></td>
                      <td class="<%= @game_individual[1][2].to_i>@game_individual[0][2].to_i ? 'Score_Win' : 'Score_Loss' %>"><%= @game_individual[1][2] %></td>
                      <td class="<%= @game_individual[1][3].to_i>@game_individual[0][3].to_i ? 'Score_Win' : 'Score_Loss' %>"><%= @game_individual[1][3] %></td>
                      <td class="<%= @game_individual[1][4].to_i>@game_individual[0][4].to_i ? 'Score_Win' : 'Score_Loss' %>"><%= @game_individual[1][4] %></td>                        
                    </tr>
                  </tbody>  
                </table>  
                <td class='Match_WinEntity'>
                      <% if  @game_individual[0][5].to_i>@game_individual[1][5].to_i %>
                        <%= link_to displayupload_show_player_games_uploadgames_path(@uploadgame,:player_name=>game["Aplayer"]), :remote=>true, data: {toggle: "modal", target: "#player_modal"} do %>
                          <i class="fa fa-file-o"></i>&nbsp;<font color="#3A01DF"> <%= game["Aplayer"] %> </font>
                         <% end %>
                      <%else%>
                        <%= link_to displayupload_show_player_games_uploadgames_path(@uploadgame,:player_name=>game["Bplayer"]), :remote=>true, data: {toggle: "modal", target: "#player_modal"} do %>

                          <i class="fa fa-file-o"></i>&nbsp;<font color="#3A01DF"> <%= game["Bplayer"] %> </font>
                         <% end %>                      
                      <%end%>

                    </td>
                  </tr>                    
            <%end%>  
        <%end%>          
    </tbody> 
    </table>
  </div>
        

     
 