<% set_meta_tags :title => '積分賽成績作業'%>
<div class=top-buffer> </div>

<% if current_user && ((current_user.has_role? :gameholder) || (current_user.has_role? :superuser)|| (current_user.has_role? :admin)) %>
  <%= form_tag displayuploadfile_uploadgames_path, :method => :get do %>
    
     <p align =center>   
       <input id="gamefileurl" name="gamefileurl" type="text"  size=80 />
       <%= submit_tag "上傳檔案" %> 
     </p> 
  <%end%>
<%end%>

<br></br>
<div class="row">
   <div class="table-responsive datagrid">
      <table class="datatable table-striped" border=1 link=blue>
        <caption class="text-center" ><strong>已上傳待處理之比賽紀錄表</strong></caption> 
        <thead>
          <tr>  
          <th>比賽名稱</th>
          <th>比賽日期</th>
          <th>紀錄人員</th>
          <th>上傳人員</th>
          <th>是否已公告?</th>
          <th>公告查核</th>
          <th>積分計算</th>
          <th>刪除檔案</th>
          </tr>  
        </thead>
        <tbody>
          <% @uploadgames.each do |uploadgame| %>
            <tr>
            <td><%= link_to(uploadgame) do %>
                   <i class="fa fa-hand-o-up"></i>&nbsp;<font color=blue><%= uploadgame.gamename %></font>
                 <% end %>     
             </td>
            <td align=center><font color=blue><%= uploadgame.gamedate.strftime("%F")%></font></td>
            <td align=center><font color=blue><%= uploadgame.recorder %></font></td>
            <td align=center><font color=blue><%= uploadgame.uploader %></font></td>
  
            <% if uploadgame.publishedforchecking %>
              <td><strong>Y</strong></td>
            <%else%>
              <td><strong>N</strong></td>
            <%end%>  

            <td>
              <%= button_to '公告查核', {:controller => "uploadgames", :action => "publishuploadgame", :game_id => uploadgame.id },  :disabled => !((current_user.has_role? :admin) ||(current_user.has_role? :superuser) ) %>
            </td>

            <td><%= button_to '積分計算', {:controller => "uploadgames", :action => "calculategamepage", :game_id => uploadgame.id },:disabled => !((current_user.has_role? :admin) ||(current_user.has_role? :superuser) ) %> 
            </td>

            <td><%= button_to '刪除此檔案', uploadgame, method: :delete, data: { confirm: '確定刪除此筆已上傳比賽資料?' } , :disabled => !( (current_user.has_role? :admin) || (current_user.has_role? :superuser)  || (current_user.username==uploadgame.uploader)) %></td>
    
            </tr>
          </tbody>  
        <% end %>
      </table>
    </div>
</div>    


