<%= content_for :head do %>
  <meta charset="utf-8">
  <link href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.10.2/themes/hot-sneaks/jquery-ui.css" rel="stylesheet">
  <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.10.2/jquery-ui.min.js"></script>
  <%= javascript_include_tag "jquery-ui-timepicker-addon" %>
  <%= javascript_include_tag "jquery-ui-sliderAccess.js" %>
  <style>
    article,aside,figure,figcaption,footer,header,hgroup,menu,nav,section {display:block;}
    body {font: 62.5% "Trebuchet MS", sans-serif; margin: 50px;}
  </style>
<% end %>
<div class="row">
  <!div class="col-xs-12 col-md-12 col-lg-12">
    <div class="col-xs-12 col-sm-10 col-md-10 col-lg-10">

    <div  class="mainbox col-xs-12 col-sm-10 col-md-10 col-lg-10 col-sm-offset-2 col-md-offset-2 col-lg-offset-2 ">
      <div class="panel panel-info">
        <div class="panel-heading">
          <div class="panel-title">
            <i class="fa fa-users"></i>&nbsp;舉辦比賽登錄
          </div>
        </div>
        <div style="padding-top:30px" class="panel-body" >
          <%= form_for(@holdgame,:html =>{:class =>"form-horizontal",:role =>"form" }) do |f| %>
            <% if @holdgame.errors.any? %>
              <div id="error_explanation">
                <h2><%= pluralize(@holdgame.errors.count, "error") %> prohibited this holdgame from being saved:</h2>

                  <ul>
                    <% @holdgame.errors.full_messages.each do |msg| %>
                      <li><%= msg %></li>
                    <% end %>
                  </ul>
              </div>
            <% end %>

            <div class="form-group">
              <div class="col-xs-12 col-sm-10 col-md-10 col-lg-10">
                <%= f.label '比賽名稱:' %>
                <%= f.text_field :gamename ,:size=>"50" %>
              </div>
            </div>
            <div class="col-xs-12 col-sm-10 col-md-10 col-lg-10"><br></div>
            <div class="form-group">
              <div class="col-xs-12 col-sm-10 col-md-10 col-lg-10">
                <%= f.label '比賽類型:' %>
                <%= f.select :gametype, ['桌盟積分賽','桌盟團體友誼賽','桌盟雙打友誼賽','桌盟個人友誼賽','業餘桌球好手之家積分賽','鄉鎮級錦標賽','縣市級錦標賽','全國性錦標賽','國際性比賽','裁判及教練講習','桌球訓練營隊','其他賽事或活動'] ,:size=>"50" %>
              </div>
            </div>
            <div class="col-xs-12 col-sm-10 col-md-10 col-lg-10"><br></div>
            <div class="form-group">
              <div class="col-xs-12 col-sm-10 col-md-10 col-lg-10">
                <%= f.label '比賽日期:' %>
                <%= f.text_field :startdate ,:size=>"50" %>
              </div>
            </div>
             <div class="col-xs-12 col-sm-10 col-md-10 col-lg-10"><br></div>
              <div class="form-group">
              <div class="col-xs-12 col-sm-10 col-md-10 col-lg-10">
                <%= f.label '比賽天數' %>
                <%= f.number_field :gamedays ,:size=>"50" %>
              </div>
            </div>
            <div class="col-xs-12 col-sm-10 col-md-10 col-lg-10"><br></div>
            <div class="form-group">
              <div class="col-xs-12 col-sm-10 col-md-10 col-lg-10">
                <%= f.label '贊助單位:' %>
                <%= f.text_field :sponsors ,:size=>"100" %>
              </div>
            </div>
            <div class="col-xs-12 col-sm-10 col-md-10 col-lg-10"><br></div>
            <div class="form-group">
              <div class="col-xs-12 col-sm-10 col-md-10 col-lg-10">
                <br>
                 <div class="col-xs-12 col-sm-10 col-md-10 col-lg-10 md-push-right">
                <%= f.text_area :gamenote , :cols => '80%', :rows => 20, :placeholder => '請輸入詳細比賽說明資料' %>
       

              </div>
            </div>  
            <div class="col-sm-10 col-xs-12 col-md-10 col-lg-10"><br></div>
            <div class="actions">
               <%= f.submit "登錄比賽", :class => "btn btn-block btn-info", :id => "btn-signup" do%>
                <i class="icon-hand-right"></i>
              <% end %>
            </div>
          <% end %>
        </div>
      </div> 
    </div>
  </div>       

  <script language="JavaScript">
    $.datepicker.regional['zh-TW']={
   dayNames:["星期日","星期一","星期二","星期三","星期四","星期五","星期六"],
   dayNamesMin:["日","一","二","三","四","五","六"],
   monthNames:["一月","二月","三月","四月","五月","六月","七月","八月","九月","十月","十一月","十二月"],
   monthNamesShort:["一月","二月","三月","四月","五月","六月","七月","八月","九月","十月","十一月","十二月"],
   prevText:"上月",
   nextText:"次月",
   weekHeader:"週",
   };
$.timepicker.regional['zh-TW']={
   timeOnlyTitle:"選擇時分秒",
   timeText:"時間",
   hourText:"時",
   minuteText:"分",
   secondText:"秒",
   millisecText:"毫秒",
   timezoneText:"時區",
   currentText:"現在時間",
   closeText:"確定",
   amNames:["上午","AM","A"],
   pmNames:["下午","PM","P"]
   };
$.datepicker.setDefaults($.datepicker.regional["zh-TW"]);
$.timepicker.setDefaults($.timepicker.regional["zh-TW"]);

$("#holdgame_startdate").datepicker({dateFormat:"yy-mm-dd",showMonthAfterYear:true});
$("#holdgame_starttime").datetimepicker({dateFormat:"yy-mm-dd", 
                                                        timeFormat:"HH:mm",
                                                        showSecond:false
                                                        });
$("#holdgame_endtime").datetimepicker({dateFormat:"yy-mm-dd", 
                                                        timeFormat:"HH:mm",
                                                        showSecond:false
                                                        });
</script>
