<?xml version="1.0"?>
<Workbook xmlns="urn:schemas-microsoft-com:office:spreadsheet"
  xmlns:o="urn:schemas-microsoft-com:office:office"
  xmlns:x="urn:schemas-microsoft-com:office:excel"
  xmlns:ss="urn:schemas-microsoft-com:office:spreadsheet"
  xmlns:html="http://www.w3.org/TR/REC-html40">
  <Worksheet ss:Name="Sheet1">
    <Table>


    <%case @gamegroup.regtype %>
      <% when 'single' %> 
        <Row>
          <Cell><Data ss:Type="String">報名序號</Data></Cell>
          <Cell><Data ss:Type="String">會員編號</Data></Cell>
          <Cell><Data ss:Type="String">姓名</Data></Cell>
          <Cell><Data ss:Type="String">FB帳號</Data></Cell>
          <Cell><Data ss:Type="String">會員目前積分</Data></Cell>
          <Cell><Data ss:Type="String">備註</Data></Cell>
        </Row>
        <%  @attendee.each_with_index do |player,serial| %> 
          <Row>
            <Cell><Data ss:Type="Number"><%= serial+1 %></Data></Cell>
            <Cell><Data ss:Type="Number"><%= player.player_id %></Data></Cell>
            <Cell><Data ss:Type="String"><%= player.name%></Data></Cell>
            <Cell><Data ss:Type="String"><%= @player_FB[player.player_id]%></Data></Cell>
            <Cell><Data ss:Type="Number"><%= @player_current_score[player.player_id] %></Data></Cell>

            <%if (serial+1)>@gamegroup.noofplayers%>
                   <Cell><Data ss:Type="String">候補</Data></Cell>
            <%else%>
                  <Cell><Data ss:Type="String">正選</Data></Cell>
            <%end%>
          </Row>
        <% end %>


      <% when 'double' %>
        <Row>
          <Cell><Data ss:Type="String">報名序號</Data></Cell>
          <Cell><Data ss:Type="String">會員編號</Data></Cell>
          <Cell><Data ss:Type="String">姓名</Data></Cell>
          <Cell><Data ss:Type="String">會員目前積分</Data></Cell>
          <Cell><Data ss:Type="String">會員編號</Data></Cell>
          <Cell><Data ss:Type="String">姓名</Data></Cell>
          <Cell><Data ss:Type="String">會員目前積分</Data></Cell>
          <Cell><Data ss:Type="String">備註</Data></Cell>
        </Row>
        <% @attendee.each_with_index do |row_group,groupindex| %> 
          <Row>
            <Cell><Data ss:Type="Number"><%= groupindex+1 %></Data></Cell>
            <%for player in row_group %>
              <Cell><Data ss:Type="Number"><%= player.player_id %></Data></Cell>
              <Cell><Data ss:Type="String"><%= player.name%></Data></Cell>
              <Cell><Data ss:Type="Number"><%= @player_current_score[player.player_id] %></Data></Cell>
            <% end %>
            <%if (groupindex+1)>@gamegroup.noofplayers%>
              <Cell><Data ss:Type="String">候補</Data></Cell>
            <%else%>
              <Cell><Data ss:Type="String">正選</Data></Cell>
            <%end%>
          </Row>
        <%end%>

      <% when 'team' %>
        <Row>
          <Cell><Data ss:Type="String">序號</Data></Cell>
          <Cell><Data ss:Type="String">會員編號</Data></Cell>
          <Cell><Data ss:Type="String">姓名</Data></Cell>
          <Cell><Data ss:Type="String">會員目前積分</Data></Cell>
  
        </Row>
        <% @attendee.each_with_index do |row_group,groupindex| %>
          <Row>
            <Cell><Data ss:Type="String"><%= row_group[0].teamname %></Data></Cell> 
            <%if (groupindex+1)>@gamegroup.noofplayers%>
              <Cell><Data ss:Type="String">候補</Data></Cell>
            <%else%>
              <Cell><Data ss:Type="String">正選</Data></Cell>
            <%end%>
          </Row> 
          
          <% player_index=1 %>
          <%for player in row_group %>
            <Row>
              <Cell><Data ss:Type="Number"><%= player_index %></Data></Cell>
              <Cell><Data ss:Type="Number"><%= player.player_id %></Data></Cell>
              <Cell><Data ss:Type="String"><%= player.name%></Data></Cell>

              <Cell><Data ss:Type="Number"><%= @player_current_score[player.player_id] %></Data></Cell>
              <% player_index+=1 %>
            </Row>  
          <% end %>
         
        <% end %>  
      <%end%>
    </Table>
  </Worksheet>
</Workbook>