<% #encoding: UTF-8;” %>


<div class="wrapper">
      <%if holdgame.cancel_flag %>
       <h2><font color ='red' font size=7><strong>請注意!!!本賽事已取消!!!</strong></font><br></h2>
    <%end%> 
  <p align=center> <font color ='blue'><strong><%=holdgame.startdate %><%= holdgame.gamename %></strong></font><br></p>

    <% if holdgame.lttfgameflag %>
     <font color ='blue'>報名網址:</font> <%= link_to  holdgame.gamename, holdgame_gamegroups_path(holdgame) ,style: 'color:#FF11FF;'  %><br>
   <% else %>
      <font color ='blue'>報名網址:</font> <%= link_to_if(holdgame.url!="", holdgame.gamename, holdgame.url ,style: 'color:#FF11FF;' ) %></br>
   <% end %>
   <font color ='blue'>比賽場地：<%=holdgame.courtname %></font><br>
   <font color ='blue'>比賽地址：<%=holdgame.address %></font><br>
   <% if holdgame.gamedays==1 %>
       <font color ='blue'>比賽日期：<%=holdgame.startdate %></font><br>
   <% else %>
      <font color ='blue'>比賽日期：<%=holdgame.startdate %>~<%=holdgame.enddate %></font><br>
   <% end %>    
    <font color ='blue'>比賽類型：<%=holdgame.gametype %></font><br>
   <font color ='blue'>主辦人：  <%=holdgame.contact_name %></font><br>
   <font color ='blue'>連絡電話：<%=holdgame.contact_phone %></font><br>
   <font color ='blue'>連絡信箱：<%=holdgame.contact_email %></font><br>
   <%if holdgame.lttfgameflag %>
     <font color ='blue'>贊助單位：<%=holdgame.sponsors %></font><br>
   <%end%>  
   <% if  holdgame.original_filename %>
      <%= link_to "說明附檔:"+holdgame.original_filename, holdgame.gameinfofile_url ,style: 'color:#FF11FF;'%>
    <%end%>
   <p style="white-space: pre-line ;width:200px; word-wrap: break-word;text-align:justify ">
    <% if holdgame.lttfgameflag %>
     <font color ='blue'>詳細比賽辦法請參考報名網址:</font> <br><%= link_to  holdgame.gamename, holdgame_gamegroups_path(holdgame) ,style: 'color:#FF11FF;'  %><br>
   <% else %>
      <font color ='blue'>詳細比賽辦法請參考報名網址:</font> <br><%= link_to_if(holdgame.url!="", holdgame.gamename, holdgame.url ,style: 'color:#FF11FF;' ) %></br>
   <% end %>
   </p>

  <% if holdgame.lttfgameflag %>
    <% if current_user &&( holdgame.gameholder.user_id==current_user.id|| current_user.has_role?(:admin)||current_user.has_role?(:superuser) )  %>
      <%= link_to image_tag('/images/edit.ico'), edit_holdgame_path(holdgame), :method=>:get %></td>

      <%=link_to image_tag('/images/delete.ico'), cancel_holdgames_path(holdgame),  :method => :post, data: { confirm: '確定要取消本場比賽?'}  %></td>
    <% end %>      
  <% else %>
      <% if current_user && ( (current_user.has_role? :admin)||(current_user.has_role? :superuser)||(current_user.id== holdgame.gameholder_id)) %>
       <%= link_to image_tag('/images/edit.ico') , edit_gamesmap_path(holdgame)  %>
       <%= link_to image_tag('/images/delete.ico') , gamesmap_path(holdgame) , method: :delete, data: { confirm: '確定刪除此比賽活動資料?' } %>
    <% end %>
  <% end %>  

 </div>