# encoding: utf-8
<%= content_for :head do %>
  <meta charset="utf-8">
  <link href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.10.2/themes/hot-sneaks/jquery-ui.css" rel="stylesheet">
  <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.10.2/jquery-ui.min.js"></script>
  <%= javascript_include_tag "jquery-ui-timepicker-addon" %>
  <%= javascript_include_tag "jquery-ui-sliderAccess.js" %>
  <style>
    article,aside,figure,figcaption,footer,header,hgroup,menu,nav,section {display:block;}
    body {font: 62.5% "Trebuchet MS", sans-serif; margin: 50px;}
  </style>
<% end %>
<%= include_gon %>
<div class="row">
  
    
    
     <div class="col-xs-8 col-md-10 col-lg-10 col-md-offset-2">
          
     <div class="mainbox col-xs-8 col-md-10 col-lg-10 ">
      <div class="panel panel-info">
        <div class="panel-heading">
          <div class="panel-title">
            <%if controller.action_name=='new' %>
                <i class="fa fa-users"></i>&nbsp;新增桌球比賽(活動)資料
            <% else %>
               <i class="fa fa-users"></i>&nbsp;桌球比賽(活動)資料修改  
            <%end %>    
          </div>
        </div>
        <div style="padding-top:30px" class="panel-body" >
 
    
           <%= form_for(@holdgame, :url =>@holdgame,:html =>{:class =>"form-horizontal ",:role =>"form" },method: :put ) do |f| %>

            <% if @holdgame.errors.any? %>
              <div id="error_explanation">
                <h2><%= pluralize(@holdgame.errors.count, "error") %> prohibited this holdgame from being saved:</h2>

                <ul>
                  <% @holdgame.errors.full_messages.each do |msg| %>
                    <li><%= msg %></li>
                  <% end %>
                </ul>
              </div>
            <% end %>
            
              <div class="col-xs-10 col-md-10 col-lg-10">
                <div class="form_row">
                  <%= f.label '比賽名稱:', :class => "form-label" %>
                  <%= f.text_field :gamename ,:required => true, :size=>"50" %>
              </div>
            </div>
            
            <div class="col-xs-10 col-md-10 col-lg-10"><br></div>
           
            <div class="col-xs-10 col-md-10 col-lg-10">
              <div class="form_row">
                <%= f.label '比賽日期:', :class => "form-label" %>
                <%= f.text_field :startdate ,:required => true,:size=>"50" %>
              </div>
            </div>
            <div class="col-xs-10 col-md-10 col-lg-10"><br></div>
            <div class="col-xs-10 col-md-10 col-lg-10">
              <div class="form_row">
                <%= f.label '比賽天數:', :class => "form-label" %>
                <%= f.number_field :gamedays ,:size=>"50" %>
              </div>
            </div>

            <div class="col-xs-10 col-md-10 col-lg-10"><br></div>
            <div class="col-xs-10 col-md-10 col-lg-10">
              <div class="form_row">
                <%= f.label '比賽類型:', :class => "form-label" %>
                <%= f.select :gametype, ['桌盟積分賽','桌盟團體友誼賽','桌盟雙打友誼賽','桌盟個人友誼賽','業餘桌球好手之家積分賽','鄉鎮級錦標賽','縣市級錦標賽','全國性錦標賽','國際性比賽','裁判及教練講習','桌球訓練營隊','其他賽事或活動'] ,:required => true,:size=>"50" %>
              </div>
            </div>

            <div class="col-xs-10 col-md-10 col-lg-10"><br></div>
            <div class="col-xs-10 col-md-10 col-lg-10">
              <div class="form_row">
                <%= f.label "所在縣市:", :class => "form-label" %>
                <%= f.select :city, @citiesarray, {:required => true, :class =>"form-control", :size => "50"}, :onchange => "cityChange(this);",:click=>"countyChange(this);" ,:size=>"auto" %>
              </div>
            </div>


            <div class="col-xs-10 col-md-10 col-lg-10"><br></div>
            <div class="col-xs-10 col-md-10 col-lg-10">
              <div class="form_row">
                <%= f.label "鄉鎮市區:", :class => "form-label" %>
                <%= f.select :county, @countiesarray, {:required => true, :class => "form-control", :size => "50"}, :onchange => "countyChange(this);", :click=>"countyChange(this);",:size=>"auto"  %>
              </div>
            </div> 
           <div class="col-xs-10 col-md-10 col-lg-10"><br></div>
             <div class="col-xs-10 col-md-10 col-lg-10">
                <br>
                 <p align=center>
                  <a href="#" class="btn btn-lg btn-info" data-toggle="modal" data-target="#myMapModal">從打桌球地圖上的場地挑選</a>
                  </p>
              </div>    
            <div class="col-xs-10 col-md-10 col-lg-10"><br></div>
            <div class="col-xs-10 col-md-10 col-lg-10">
              <div class="form_row">
                <%= f.label '比賽場地:', :class => "form-label" %>
                <%= f.text_field :courtname ,:size=>"50",:required => true %>
              </div>
            </div>

            <div class="col-xs-10 col-md-10 col-lg-10"><br></div>
            <div class="col-xs-10 col-md-10 col-lg-10">
              <div class="form_row">
                <%= f.label "地址:", :class => "form-label" %>
                <%= f.text_field :address, :required => true,:required => true, :class => "form-control", :size => "50",:onchange=>"codeAddress(this);"  %>
                <br>
                <%= check_box("tag", 0 , {checked: true}) %>使用自動地址解碼
              </div>
            </div>

            <div class="col-xs-10 col-md-10 col-lg-10"></br></div>
            <div id='map' style='width: 100%; height: 300px;'></div>
            <div class="col-xs-10 col-md-10 col-lg-10"></br></div>

            <div class="col-xs-10 col-md-10 col-lg-10"></br></div>
            <div class="col-xs-10 col-md-10 col-lg-10">
              <div class="form_row">
                <%= f.label "經度:", :class => "form-label" %>
                <%= f.number_field :lng, :required => true, :class => "text_field",:step=>'any' ,:size => "20"%>
              </div>
            </div>
          
            <div class="col-xs-10 col-md-10 col-lg-10"></br></div>
            <div class="col-xs-10 col-md-10 col-lg-10">
              <div class="form_row">
                <%= f.label "緯度:", :class => "form-label" %>
                <%= f.number_field :lat, :required => true, :class => "text_field",:step=>'any', :size => "20"  %>
              </div>
            </div>

            <div class="col-xs-10 col-md-10 col-lg-10"></br></div>
            <div class="col-xs-10 col-md-10 col-lg-10">
              <div class="form_row">
                <%= f.label "主辦人:", :class => "form-label" %>
                <%= f.text_field :contact_name, :class =>"form-control", :size => "50"  %>
              </div>
            </div>

            <div class="col-xs-10 col-md-10 col-lg-10"></br></div>
            <div class="col-xs-10 col-md-10 col-lg-10">
              <div class="form_row">
                <%= f.label "連絡電話:", :class => "form-label" %>
                <%= f.text_field :contact_phone, :class =>"form-control", :size => "50"  %>
              </div>
            </div>

            <div class="col-xs-10 col-md-10 col-lg-10"></br></div>
            <div class="col-xs-10 col-md-10 col-lg-10">
              <div class="form_row">
                <%= f.label "連絡信箱:", :class => "form-label" %>
                <%= f.text_field :contact_email, :class =>"form-control", :size => "50"  %>
              </div>
            </div> 

            <div class="col-xs-10 col-md-10 col-lg-10"></br></div>
            <div class="col-xs-10 col-md-10 col-lg-10">
              <div class="form_row">
                <%= f.label "相關網址:", :class => "form-label" %>
                <%= f.text_field :url ,  :class => "form-control", :size => "50"  %>
              </div>
            </div>

            <div class="col-xs-10 col-md-10 col-lg-10"></br></div>
            <div class="col-xs-10 col-md-10 col-lg-10">
              <% if  @holdgame.original_filename %>
                    <%= link_to "說明附檔:"+@holdgame.original_filename, @holdgame.gameinfofile_url %>
                    <br>
              <%end%>
            </div>  
             <div class="col-xs-10 col-md-10 col-lg-10"></br></div>
             
                <div class="col-xs-10 col-md-10 col-lg-10">
                  <div class="form_row">
                    <%= f.label "上傳附檔:", :class => "form-label" %><br>
                    <div class="col-xs-10 col-md-10 col-lg-10 md-offset-6">
                      <%= f.file_field :gameinfofile, :class => "file"  %>
                    </div>
                  </div>
                </div>

            <div class="form-group">
              <div class="col-xs-10 col-md-10 col-lg-10">
                <br>
                 <div class="col-xs-12 col-md-12 col-lg-12 md-push-right">
                <%= f.text_area :gamenote , :cols => "100%", :rows => 20, :placeholder => '請輸入詳細比賽說明資料' %>
              </div>
            </div>  
            

            <div class="col-xs-8 col-md-8 col-lg-8"></br></div>
            <div class="col-md-offset-4 col-md-5">
              <%= f.submit "進行新增/變更", :class => "btn btn-block btn-info", :id => "btn-edit" do%>
                <i class="icon-hand-right"></i>
              <% end %>
            </div>
            <div class="col-md-3"></div>

          <% end %>
        </div>
      </div>
     </div>
      </div>
     
        
         
    
   

</div>

         
              <div class="modal fade" id="myMapModal">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h4 class="modal-title">請選擇球館</h4>
                  </div>
                  <div class="modal-body">
                    <div class="container">
                      <div class="row">   
                     
                        <%= collection_select( "area","courts", @areacourts,:id,:placename  )%>
                        <br><strong>請先在上一頁面選擇您球館所在的縣市及地區!</strong>
                      </div>
                    </div>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">放棄離開</button>
                    <button type="button" class="btn btn-primary" id="btn" data-dismiss="modal" >選定存檔</button>
                  </div>
                </div><!-- /.modal-content -->
              </div><!-- /.modal-dialog -->
            </div><!-- /.modal -->
  

<script language="JavaScript">
    $.datepicker.regional['zh-TW']={
   dayNames:["星期日","星期一","星期二","星期三","星期四","星期五","星期六"],
   dayNamesMin:["日","一","二","三","四","五","六"],
   monthNames:["一月","二月","三月","四月","五月","六月","七月","八月","九月","十月","十一月","十二月"],
   monthNamesShort:["一月","二月","三月","四月","五月","六月","七月","八月","九月","十月","十一月","十二月"],
   prevText:"上月",
   nextText:"次月",
   weekHeader:"週",
   };
$.timepicker.regional['zh-TW']={
   timeOnlyTitle:"選擇時分秒",
   timeText:"時間",
   hourText:"時",
   minuteText:"分",
   secondText:"秒",
   millisecText:"毫秒",
   timezoneText:"時區",
   currentText:"現在時間",
   closeText:"確定",
   amNames:["上午","AM","A"],
   pmNames:["下午","PM","P"]
   };
$.datepicker.setDefaults($.datepicker.regional["zh-TW"]);
$.timepicker.setDefaults($.timepicker.regional["zh-TW"]);

$("#holdgame_startdate").datepicker({dateFormat:"yy-mm-dd",showMonthAfterYear:true});
$("#holdgame_starttime").datetimepicker({dateFormat:"yy-mm-dd", 
                                                        timeFormat:"HH:mm",
                                                        showSecond:false
                                                        });
$("#holdgame_endtime").datetimepicker({dateFormat:"yy-mm-dd", 
                                                        timeFormat:"HH:mm",
                                                        showSecond:false
                                                        });
</script>
<script type="text/javascript">
$(document).on("click", "#btn", function(event){

  var cCourtname=document.getElementById("area_courts"); 
  areacourtsChange(cCourtname);
});


function cityChange(selectObj) {
  // get the index of the selected option
  var idx = selectObj.selectedIndex;
  // get the value of the selected option
  var which = selectObj.options[idx].value;

  //gon.countiesarray= gon.twzipecode[which];
  // get the country select element via its known id
  gon.countiesarray=Object.keys(gon.twzipecode[which]);

 
 // remove the current options from the country select 
 var cSelect=document.getElementById("holdgame_county");
 
var len=cSelect.options.length;

  while (cSelect.options.length > 0) {
    cSelect.remove(0);
  }
  var newOption;
  // create new options
  for (var i=0; i<gon.countiesarray.length; i++) {
    newOption = document.createElement("option");
    newOption.value = gon.countiesarray[i];  // assumes option string and value are the same
    newOption.text=gon.countiesarray[i];
    // add the new option
    try {
      cSelect.add(newOption);  // this will fail in DOM browsers but is needed for IE
    }
    catch (e) {
      cSelect.appendChild(newOption);

    }
  }   
  
 var cAddress=document.getElementById("holdgame_address");
 countyChange(cSelect);
}

 function countyChange(selectObj) {
  var idx = selectObj.selectedIndex;
  // get the value of the selected option
  var which = selectObj.options[idx].value;
 var cAddress=document.getElementById("holdgame_address");
 var cSelect=document.getElementById("holdgame_city");
 cAddress.value=cSelect.value+which;
 gon.areacourts=_.where(gon.ttcourts, {city: cSelect.value, county: which});
 changeareacourts(gon.areacourts);
 codeAddress();
 

}
function areacourtsChange(selectObj) {
  var idx = selectObj.selectedIndex;
  // get the value of the selected option
 var which = parseInt(selectObj.options[idx].value);
 var cCourtname=document.getElementById("holdgame_courtname"); 
 var cAddress=document.getElementById("holdgame_address");
 var cCity=document.getElementById("holdgame_city");
 var cCounty=document.getElementById("holdgame_county");
 var cLat=document.getElementById("holdgame_lat");
 var cLng=document.getElementById("holdgame_lng");
 var aa=_.findWhere(gon.ttcourts,{id: which});
 cCourtname.value=aa['placename'];
 cAddress.value=aa['address'];
 //cCity.value=aa['city'];
 //cCounty.value=aa['county'];
 cLat.value=aa['lat'];
 cLng.value=aa['lng']; 
 gon.lat=aa['lat'];
 gon.lng=aa['lng'];
 //console.log(cCity);
 resetlocation(aa);

}
function changeareacourts(areacourts){
   var cAreaSelect=document.getElementById("area_courts");
  var len=cAreaSelect.options.length;

  while (cAreaSelect.options.length > 0) {
    cAreaSelect.remove(0);
  }
  var newOption;
  // create new options
  for (var i=0; i<areacourts.length; i++) {
    newOption = document.createElement("option");
    newOption.value = areacourts[i]['id'];  // assumes option string and value are the same
    newOption.text=areacourts[i]['placename'];
    // add the new option
    try {
      cAreaSelect.add(newOption);  // this will fail in DOM browsers but is needed for IE
    }
    catch (e) {
      cAreaSelect.appendChild(newOption);

    }
  }   

}
</script>