<%= content_for :head do %>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <%= javascript_include_tag 'jquery.preimage' %>
  <%= javascript_include_tag 'image_upload' %>
 
<% end %>
<%= form_for(@authcertunit) do |f| %>
  <% if @authcertunit.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@authcertunit.errors.count, "error") %> prohibited this authcertunit from being saved:</h2>

      <ul>
      <% @authcertunit.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
    <div class="field">
    <%= f.label "單位名稱" %><br />
    <%= f.text_field :unitname, :required => true %>
  </div>
  <div class="field">
    <%= f.label "住址" %><br />
    <%= f.text_field :address %>
  </div>
  <div class="field">
    <%= f.label "電話" %><br />
    <%= f.text_field :tel %>
  </div>
  <div class="field">
    <%= f.label "聯絡人(桌盟編號)"%><br/>
    <%= f.number_field :majorcontact_id %>
  </div>
  <div class="field">

    <%= f.label "認證單位logo上傳 : (請使用600x400或300x200比例)" %></br>
    <%= f.file_field :unitlogo, :class => "file", :id => "unit_photo" ,:onchange => "readURL(this)" %>

  </div>
  Logo照片預覽 :<br>
  <img id="img_preview" src="" alt="照片預覽" style="width:300px;height:200px;overflow: auto;" />

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
