<% #encoding: UTF-8;” %>
<h1>積分認證單位列表</h1>
<br><br>
<table>
    <% @authcertunits.each do |authcertunit| %>
  <tr>
   <td><%= link_to  image_tag(authcertunit.unitlogo_url(:thumb) ), authcertunit %></td>
  </tr>  
    <% end %>
</table>  

<%if (current_user.has_role?(:admin)) %>
<table>
  <tr>
    <th>單位名稱</th>
    <th>單位住址</th>
    <th>單位電話</th>
    <th>單位聯絡人</th>
    <th>logo</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
<br><br>
<% @authcertunits.each do |authcertunit| %>
  <tr>
    <td><%= authcertunit.unitname %></td>
    <td><%= authcertunit.address %></td>
    <td><%= authcertunit.tel %></td>
    <td><%= authcertunit.contact_user.username %></td>
    <td><%= image_tag(authcertunit.unitlogo_url(:tiny),:class => "dp img-circle img-responsive") %>
    <td><%= link_to '詳細資料', authcertunit %></td>
    <td><%= link_to '編輯資料', edit_authcertunit_path(authcertunit) %></td>
    <td><%= link_to '刪除', authcertunit, method: :delete, data: { confirm: '確認要刪除此筆資料?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to '新增認證單位', new_authcertunit_path %>
<% end %>