<%= form_for(@blacklist) do |f| %>
  <% if @blacklist.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@blacklist.errors.count, "error") %> prohibited this blacklist from being saved:</h2>

      <ul>
      <% @blacklist.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    會員編號： <br />
    <%= f.number_field :playerprofile_id , :disabled => true%>
  </div>
  <div class="field">
    姓名： <br />
    <%= f.text_field :player_name, :disabled =>true %>
  </div>
  <div class="field">
    列黑名單原因<br />
    <%= f.text_area :note ,cols: "30", rows: "10"%>
  </div>
  <div class="actions">
    <%= f.submit '更新黑名單資料'%>
  </div>
<% end %>

