<p id="notice"><%= notice %></p>

<p>
  <b>編號    :</b>
  <font color="blue"><%= @shopcart.user_id %></font>
</p>
<p>
  <b>姓名    :</b>
  <font color="blue"><%= @shopcart.user.username %></font>
</p>

<p>
  <b>5XL:</b>
  <font color="blue"><%= @shopcart.X5L %>件</font>
</p>
<p>
  <b>4XL:</b>
  <font color="blue"><%= @shopcart.X4L %>件</font>
</p>
<p>
  <b>3XL:</b>
  <font color="blue"><%= @shopcart.X3L %>件</font>
</p>
<p>
  <b>2XL:</b>
  <font color="blue"><%= @shopcart.X2L %>件</font>
</p>
<p>
  <b>XL:</b>
  <font color="blue"><%= @shopcart.XL %>件</font>
</p>
<p>
  <b>L:</b>
  <font color="blue"><%= @shopcart.L %>件</font>
</p>
<p>
  <b>M:</b>
  <font color="blue"><%= @shopcart.M%>件</font>
</p>
<p>
  <b>S:</b>
  <font color="blue"><%= @shopcart.S %>件</font>
</p>
<p>
  <b>XS:</b>
  <font color="blue"><%= @shopcart.XS %>件</font>
</p>

<p>
  <b>取貨方式:</b>
  <font color="blue"><%= @shopcart.take_or_mail %>件</font>
</p>
<p>
  <b>寄送地址:</b>
  <font color="blue"><%= @shopcart.address %></font>
</p>
<p>
  <b>訂單總計:</b>
  <font color="blue">總共<font color="red"><%=@shopcart.totalcarts %></font>件 ,應付總金額<font color="red"><%= @shopcart.totalbilling %></font>元</font>
</p>
<p>
  <b>付款資訊:</b>
  <font color="red"><%= @shopcart.paymentinfo %></font>
</p>



<%= link_to '修改訂單', edit_shopcart_path(@shopcart) %> |
<%= link_to '返回前頁', shopcarts_path %>
