<% set_meta_tags :site => '桌球愛好者聯盟',:title=>'桌盟積分賽網站相關操作示範視頻',   :description => '桌球愛好者聯盟積分賽系統',
    :og => { :title =>'桌盟積分賽網站相關操作示範視頻'  , :image => 'http://twlttf.org/LTTF_logo.png', :description =>'歡迎球友參考如何使用桌盟積分賽網站', :url=> 'http://www.twlttf.org/lttfproject/gameholders/demos'} %>
 <link rel="canonical" href= 'http://www.twlttf.org/lttfproject/gameholders/demos' />    
<div class="container">
  <div class="row">
    
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
      <h1 style="margin: 0 auto;text-align:center;" ><font color=blue >桌盟積分賽主辦人操作示範視頻</font></h1>
      <br>
      <h2  ><font color=blue ><p> <%= link_to "桌球愛好者聯盟積分賽系統登錄新比賽示範","https://youtu.be/8NlHGrtpFwA" ,:target => "_blank" %> </p></font></h1>
      <br>
      <h2 ><font color=blue ><%= link_to "比賽分組設定及成績輸入及上傳示範","https://youtu.be/koqrEGCYvJI" ,:target => "_blank" %></font></h1>
      <br>
      <h2 ><font color=blue > <%= link_to "列印空白出賽單示範","https://youtu.be/cHYNDjroG_k" ,:target => "_blank" %></font></h1>
      <br>  
      <h2 ><font color=blue > <%= link_to "如何下載參賽名單做S型分組示範","https://youtu.be/FVWS6x3ydgo" ,:target => "_blank" %></font></h1>
      <br> <br>
      <h1 style="margin: 0 auto;text-align:center;" ><font color=blue >一般使用者相關操作示範視頻</font></h1>
      <br>
      <h2 ><font color=blue > <%= link_to "忘記密碼或重設密碼操作示範","https://youtu.be/o99IIifgoEs" ,:target => "_blank"%></font></h1>
      <br>
      <h2 ><font color=blue > <%= link_to "修改基本資料與設定FB帳號連結示範","https://youtu.be/ZgAXjEBKegY" ,:target => "_blank"%></font></h1>
    </div>
  </div>
</div>


