<div class="row">
  
    
  <div class="col-xs-8 col-md-10 col-lg-10 col-md-offset-2">
          
    <div class="mainbox col-xs-8 col-md-10 col-lg-10 ">
      <div class="panel panel-info">
        <div class="panel-heading">
          <div class="panel-title">
             <i class="fa fa-users"></i>&nbsp;主辦人資料  
          </div>
        </div>
        <div style="padding-top:30px" class="panel-body" >
        <form class= "form-horizontal", role="form"> 
          <div class="col-xs-10 col-md-10 col-lg-10">
             <%= image_tag(@gameholder.user.playerphoto_url(:thumb)) %>
          </div>  
            <div class="form-group">
              <div class="col-xs-10 col-md-10 col-lg-10">
                
                   <h4>
                    會員編號:<%= @gameholder.user_id %><br>
                    姓名:<%= @gameholder.name %><br>
                    主辦場地：<%= @gameholder.courtname %><br>
                    場地地址：<%= @gameholder.address %><br>
                    電話:<%= @gameholder.phone %><br>
                    聯絡信箱:<%= @gameholder.email %><br>
                    贊助單位:<%= @gameholder.sponsor %><br>
                   </h4> 
              </div>
            </div>
              <% if ((current_user.has_role? :admin) || (current_user.has_role? :superuser) || (@gameholder.user_id==current_user.id) )  %>
                  <%= link_to image_tag('images/edit.ico') , edit_gameholder_path(@gameholder)  %>
             <% end %>
         
         
        </form>
      </div>
    </div>
  </div>
</div>  

<%= link_to 'Back', gameholders_path %>
