<%= content_for :head do %>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <%= javascript_include_tag 'jquery.preimage' %>
  <%= javascript_include_tag 'image_upload' %>
 
<% end %>
<%= form_for(@advitem) do |f| %>
  <% if @advitem.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@advitem.errors.count, "error") %> prohibited this advitem from being saved:</h2>

      <ul>
      <% @advitem.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label "業者姓名" %><br />
    <%= f.text_field :provider_name %>
  </div>
  <div class="field">
    <%= f.label "業者電話" %><br />
    <%= f.text_field :provider_tel %>
  </div>
  <div class="field">
    <%= f.label "廣告連結網址" %><br />
    <%= f.text_field :adv_link %>
  </div>
  <div class="field">
     <%= f.label "廣告有效日期" %><br />
     <%= f.date_select :end_date %>
  </div>
  <% if controller.action_name =='new' %>
    <div class="field">
      <%= f.label "廣告圖片上傳 : (請使用120x80比例)" %><br />
      <%= f.file_field :adv_photo, :class => "file", :id => "adv_photo" ,:onchange => "readURL(this)" %>
    </div>
    照片預覽 :<br>
    <img id="img_preview" src="" alt="照片預覽" style="width:300px;height:200px;overflow: auto;" / >
  <%end%>

  <% if controller.action_name =='edit' %>
    <div class="field">
      <%= f.label "廣告圖片" %><br />
      <%= image_tag @advitem.adv_photo.url , :id=> "img_preview", :style=>"width:300px;height:200px;overflow: auto;" %>
    </div>
    <div class="field">
      <%= f.label "廣告圖片更新上傳 : (請使用120x80比例)" %><br />
      <%= f.file_field :adv_photo, :class => "file", :id => "adv_photo" ,:onchange => "readURL(this)" %>
    </div>
  <%end%>  

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
