<p id="notice"><%= notice %></p>

<p>
  <b>Provider name:</b>
  <%= @advitem.provider_name %>
</p>

<p>
  <b>Provider tel:</b>
  <%= @advitem.provider_tel %>
</p>

<p>
  <b>Adv link:</b>
  <%= @advitem.adv_link %>
</p>

<p>
  <b>Adv photo:</b>
  <%= @advitem.adv_photo %>
</p>

<p>
  <b>End date:</b>
  <%= @advitem.end_date %>
</p>

<p>
  <b>Creator:</b>
  <%= @advitem.creator_id %>
</p>


<%= link_to 'Edit', edit_advitem_path(@advitem) %> |
<%= link_to 'Back', advitems_path %>
