<form class="form-inline">
<%= form_tag coholderinput_gamecoholders_path, multipart: true do %>
  <p align =center>   
    <input type="text" id="keyword" name="keyword" class="form-control" value="<%= @query_string %>" placeholder="<%= @query_string ||   "姓名或編號皆可" %>">
    <%= submit_tag "輸入" ,:name=>"getplayerfromuser"  %> 
      
  </p> 

<br>
<div class="table-responsive datagrid">
    <table class="datatable table-striped" border=1 link=blue>
      <caption class="text-center" ><strong>已輸入清單</strong></caption> 
      <thead>
        <tr>
        <th>序號</th>
        <th>編號</th>
        <th>姓名</th>
        </tr>
      </thead>  
      <tbody>
          
          <tr>
                          
               <% @coholderlist.each_with_index do |player,playerindex| %> 
             
                <td><%= playerindex+1 %></td>
             
                <td> <%= number_field_tag  "playerid[]", player.id  %></td>
                <td> <%= text_field_tag   "playername[]", player.username  %></td>
             
                </tr>
    
              <% end %>
      
       
      </tbody>    
      <tfoot>
     </tfoot>  
    </table>  
  </div>



<table width="100">
<tr>
  
                            

<td>
 
  <%= submit_tag '確認輸入名單', :name => "registration" , data: { confirm:'確認輸入名單?' }  %>
</td>
<td>     
  <%= submit_tag '放棄輸入名單', :name => "quit", data: { confirm:'確認放棄輸入?' }  %>

</td>    
                      
</tr>
</table>
<%end%>   
 




















    