<div style="text-align: left">
  <div class="table-responsive datagrid">
    <table class="datatable table-striped" border=1>
      <caption class="text-center" ><strong>共同主辦人列表</strong></caption>  
      <thead>
        <tr>
          <th>序號</th>
          <th>共同主辦人編號</th>
          <th>共同主辦人姓名</th>
          <th></th>
        </tr>
      </thead>
      <tbody>    
        <% @gamecoholders.each_with_index do |gamecoholder,i| %>
          <tr>
            <td><%= i+1 %></td>
            <td><%= gamecoholder.co_holderid %></td>
            <td><%= gamecoholder.name %></td>
            <td><%= link_to '刪除', gamecoholder, method: :delete, data: { confirm: '確定刪除此筆?' } %></td>
          </tr>
        <% end %>
      </tbody>  
    </table>
  </div>
</div>  

<%= link_to '新增共同主辦人', coholderinput_gamecoholders_path(@holdgame),:class=> "button radius" %>
<%= link_to '離開',  holdgames_path,:class=> "button radius" %>