
 <% set_meta_tags :title => '比賽紀錄查核系統'%>
  <div class="table-responsive datagrid">
    <table class="datatable table-striped">
      <caption class="text-center" ><strong>已公告查核之比賽紀錄表</strong></caption>
      <thead>
        <tr>
        <th>比賽名稱</th>
        <th>比賽日期</th>
        <th>紀錄人員</th>
        <th>上傳人員</th>
        </tr>
      </thead>
      <tbody>
        <% @uploadgames.each do |uploadgame| %>
          
          <td align=center>
           <%= link_to(uploadgame) do %>
                   <i class="fa fa-hand-o-up"></i>&nbsp;<font color=blue><%= uploadgame.gamename %></font>
              <% end %>
          </td>
          <td><%= uploadgame.gamedate.to_s %></td>
          <td><%= uploadgame.recorder %></td>
          <td><%= uploadgame.uploader %></td>
              
          <tr>
        <% end %>
      </tbody>
      <tfoot>
        
      </tfoot>
    </table>
  </div>


