<%= content_for :head do %>
  <meta charset="utf-8">
  
  <style>
    article,aside,figure,figcaption,footer,header,hgroup,menu,nav,section {display:block;}
    body {font: 62.5% "Trebuchet MS", sans-serif; margin: 50px;}
  </style>
<% end %>
<%= include_gon %>
<div class="row">
  
    
    
     <div class="col-xs-8 col-md-10 col-lg-10 col-md-offset-2">
          
     <div class="mainbox col-xs-8 col-md-10 col-lg-10 ">
      <div class="panel panel-info">
        <div class="panel-heading">
          <div class="panel-title">
            <%if controller.action_name=='new' %>
                <i class="fa fa-users"></i>&nbsp;新增打球場地資料
            <% else %>
               <i class="fa fa-users"></i>&nbsp;場地資料修改  
            <%end %>    
          </div>
        </div>
        <div style="padding-top:30px" class="panel-body" >
          <%= form_for(@ttcourt ,:html =>{:class =>"form-horizontal form-inline",:role =>"form" }) do |f| %>
            <% if @ttcourt.errors.any? %>
              <div id="error_explanation">
                <h2><%= pluralize(@ttcourt.errors.count, "error") %> prohibited this ttcourt from being saved:</h2>

                <ul>
                  <% @ttcourt.errors.full_messages.each do |msg| %>
                    <li><%= msg %></li>
                  <% end %>
                </ul>
              </div>
            <% end %>
           
              <div class="col-xs-8 col-md-10 col-lg-10">
                 <div class="form_row">
                <%= f.label "場地名稱", :class => "form-label" %>:
                  <%= f.text_field :placename,:required => true, :class =>"form-control", :size => "35"  %>
              </div>
            </div>

            <div class="col-xs-10 col-md-10 col-lg-10"></br></div>
            <div class="form_row">
              <div class="col-xs-10 col-md-10 col-lg-10">
                
                  <%= f.label "所在縣市", :class => "form-label" %>:
                  <%= f.select :city, @citiesarray, {:required => true, :class =>"form-control", :size => "auto"}, :onchange => "cityChange(this);"  %>
                
              </div>
            </div>


           <div class="col-xs-10 col-md-10 col-lg-10"></br></div>
            <div class="form_row">
              <div class="col-xs-10 col-md-10 col-lg-10">
               
                  <%= f.label "鄉鎮市區", :class => "form-label" %>:
                  <%= f.select :county, @countiesarray, {:required => true, :class => "form-control", :size => "auto"}, :onchange => "countyChange(this);"  %>
              
              </div>
            </div>
            <div class="col-xs-10 col-md-10 col-lg-10"></br></div>
            
              <div class="col-xs-10 col-md-10 col-lg-10">
                <div class="form_row">
                <%= f.label "地址", :class => "form-label" %>:
                <%= f.text_field :address, :required => true, :class => "form-control", :size => "35",:onchange=>"codeAddress(this);"  %>
                <br></br>
               <%= check_box("tag", 0 , {checked: true}) %>使用自動地址解碼
              </div>
            </div>
            <div class="col-xs-10 col-md-10 col-lg-10"></br></div>
           <div id='map' style='width: 100%; height: 200px;'></div>
           <div class="col-xs-10 col-md-10 col-lg-10"></br></div>
            <br></br>

              <div class="col-xs-10 col-md-10 col-lg-10">
                <div class="form_row">
                  <%= f.label "經度", :class => "form-label" %>:
                  <%= f.number_field :lng, :required => true, :class => "text_field",:step=>'any' ,:size => "auto"%>
                </div>
              </div>
                      
              <div class="col-xs-10 col-md-10 col-lg-10">
                 <div class="form_row">
                    <%= f.label "緯度", :class => "form-label" %>:
                    <%= f.number_field :lat, :required => true, :class => "text_field",:step=>'any', :size => "auto"  %>
                 </div> 
              </div>
            

            <div class="col-xs-10 col-md-10 col-lg-10"></br></div>
                <div class="form-group">
                <div class="col-xs-10 col-md-10 col-lg-10">
                <%= f.label "開放時間", :class => "form-label" %>:
                <%= f.text_area :opentime, :required => true, :class => "form-control", :size => "50"  %>
                </div>
              </div>     
              <div class="col-xs-10 col-md-10 col-lg-10"></br></div>
              <div class="form-group">
              <div class="col-xs-10 col-md-10 col-lg-10">
                <%= f.label "場地設施", :class => "form-label" %>:
                <%= f.text_area :facilities, :required => true, :class => "form-control", :size => "50" %>
              </div>
              </div>
              <div class="col-xs-10 col-md-10 col-lg-10"></br></div>
              <div class="form-group">
              <div class="col-xs-10 col-md-10 col-lg-10">
                <%= f.label "收費標準", :class => "form-label" %>:
                <%= f.text_area :playfee, :required => true, :class => "form-control", :size => "50"  %>
              </div>
              </div>
              <div class="col-xs-10 col-md-10 col-lg-10"></br></div>
              <div class="form-group">
              <div class="col-xs-10 col-md-10 col-lg-10">
                <%= f.label "聯絡人資訊", :class => "form-label" %>:
                <%= f.text_area :contactinfo,  :class => "form-control", :size => "50"  %>
              </div>
              </div>
              <div class="col-xs-10 col-md-10 col-lg-10"></br></div>
              <div class="form-group">
              <div class="col-xs-10 col-md-10 col-lg-10">
                <%= f.label "補充資料", :class => "form-label" %>:
                <%= f.text_area :supplyinfo,  :class => "form-control", :size => "50"  %>
              </div>
              </div>
              <div class="col-xs-10 col-md-10 col-lg-10"></br></div>
              <div class="form-group">
              <div class="col-xs-10 col-md-10 col-lg-10">
                <%= f.label "資料來源", :class => "form-label" %>:
                <%= f.text_area :infosource,  :class => "form-control", :size => "50"  %>
              </div>
              </div>

              <div class="col-xs-10 col-md-10 col-lg-10"></br></div>
              <div class="form-group">
              <div class="col-xs-10 col-md-10 col-lg-10">
                <%= f.label "相關網址", :class => "form-label" %>:
                <%= f.text_area :infoURL ,  :class => "form-control", :size => "50"  %>
              </div>
              </div>
            <div class="col-xs-10 col-md-10 col-lg-10">
            <br></br>

            <%= f.fields_for :ttcourt_courtphotos do |p| %>
              <div class="field">
                <%= p.label '場地照片' %><br>
                <%= p.file_field :photo, :multiple => true, name: "ttcourt_courtphotos[]" %>
              </div>
            <% end %>
             </div>

            <div class="col-xs-8 col-md-8 col-lg-8"></br></div>
            <div class="col-md-offset-4 col-md-5">
              <%= f.submit "進行新增/變更", :class => "btn btn-block btn-info", :id => "btn-edit" do%>
                <i class="icon-hand-right"></i>
              <% end %>
            </div>
            <div class="col-md-3"></div>

          <% end %>
        </div>
      </div>
     </div>
      </div>
     
        
         
    
   

</div>


  


<script type="text/javascript">

function cityChange(selectObj) {
  // get the index of the selected option
  var idx = selectObj.selectedIndex;
  // get the value of the selected option
  var which = selectObj.options[idx].value;

  //gon.countiesarray= gon.twzipecode[which];
  // get the country select element via its known id
  gon.countiesarray=Object.keys(gon.twzipecode[which]);

 
 // remove the current options from the country select 
 var cSelect=document.getElementById("ttcourt_county");
 
var len=cSelect.options.length;

  while (cSelect.options.length > 0) {
    cSelect.remove(0);
  }
  var newOption;
  // create new options
  for (var i=0; i<gon.countiesarray.length; i++) {
    newOption = document.createElement("option");
    newOption.value = gon.countiesarray[i];  // assumes option string and value are the same
    newOption.text=gon.countiesarray[i];
    // add the new option
    try {
      cSelect.add(newOption);  // this will fail in DOM browsers but is needed for IE
    }
    catch (e) {
      cSelect.appendChild(newOption);

    }
  }   
  
 var cAddress=document.getElementById("ttcourt_address");
 cAddress.value=which+cSelect.value;
 countyChange(cSelect);
}

 function countyChange(selectObj) {
  var idx = selectObj.selectedIndex;
  // get the value of the selected option
  var which = selectObj.options[idx].value;
 var cAddress=document.getElementById("ttcourt_address");
 var cSelect=document.getElementById("ttcourt_city");
 cAddress.value=cSelect.value+which;
 codeAddress();
}

</script>