

<%= content_for :head do %>
<meta charset='utf-8' />

<!meta name='viewport' content='initial-scale=1,maximum-scale=1,user-scalable=yes' />
<script src='https://api.tiles.mapbox.com/mapbox-gl-js/v1.5.0/mapbox-gl.js'></script>
<script src="https://cdn.rawgit.com/mahnunchik/markerclustererplus/master/dist/markerclusterer.min.js"></script>
<link href='https://api.tiles.mapbox.com/mapbox-gl-js/v1.5.0/mapbox-gl.css' rel='stylesheet' />

<style>
body { margin:0; padding:0; }
.marker {
  background-image: url('LTTF_logo.png');
  background-size: cover;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  cursor: pointer;
}

</style>
<%end%>
<%= include_gon %>
<body>

<div class="map_pagecontainer">
  <div  id='sidebar_container'> 
    <h4 align="center"><font color="blue">台灣打桌球地圖</font></h4>
    <h6 align="center"><font color="blue">本地圖由<%= link_to '桌球愛好者聯盟', 'https://www.facebook.com/groups/LTTF.TW/' %> 提供，歡迎轉載使用，轉載時請註明出處!</font></h6>
     <h6 align="center"><font color="blue">本地圖目前共收錄: <%=  @ttcourts.count %>處場地資料 </font></h6>
    <h6 align="center"><font color="blue">累計點閱次數: <%=  @ttcourts_views_record.ttcourts_views %> </font></h6>

    <ul class="collapsibleList" id="ttcourtslist">
                              
    </ul>    
    <% if current_user%> 
      <% if (current_user.has_role? :admin)||(current_user.has_role? :superuser)||(current_user.has_role? :mapmanager) %>
        <%= link_to image_tag('button_add.ico') , new_ttcourt_path  %>
     <% end %>
    <% end %>    
   </div>
</div>

   <div id='map_container'>
   <div id="map" style='width: 100%; height: 500px;'></div>

</body>
<script type="text/javascript">
/*var ttcourts_array = 1;
mapboxgl.accessToken = 'pk.eyJ1IjoiYWxsZW44NjYxMjkiLCJhIjoiY2syaGd5aHVyMGE3OTNobGlyZHY4a2s2aiJ9.QslC2-wkDFqWPUOqa6a8sQ';
var map = new mapboxgl.Map({
container: 'map', // container id
style: 'mapbox://styles/mapbox/streets-v11', // stylesheet location
center: [120.5, 24], // starting position [lng, lat]
zoom: 6// starting zoom
});
*/

/*map.on('load', function(e) {
  // Add the data to your map as a layer
  map.addLayer({
    id: 'locations',
    type: 'symbol',
    // Add a GeoJSON source containing place coordinates and information.
    source: {
      type: 'geojson',
      data: @geojson
    },
    layout: {
      'icon-image': 'restaurant-15',
      'icon-allow-overlap': true,
    }
  });
*/

</script>
 






 
 
