<!DOCTYPE html>
<html>
  <head>
  
      <%= stylesheet_link_tag    "application", media: "all" %>

      <%= csrf_meta_tag %>
               
      <%= display_meta_tags(default_ttourts_meta_tags) %> 
       <link rel="canonical" href= 'http://twlttf.org/lttfproject/ttcourts' />             
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <!link rel="shortcut icon" href="images/lttficon.ico">
      <%= favicon_link_tag "favicon.ico" %>
  
      <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
      <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
      <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
      <![endif]-->
      <!-- javascript & css from CDN-->
      <%= yield :head %>
    
      <%= render :partial => "common/easy_menu" %>
      <%= render :partial => "common/marquee" %>
  </head>

 
  <body>

    <div id="wrap">

      <div class="container">
        
        <div class="row">

          <div class="col-md-4">
           <!-- devise notice -->
            <%= render partial: "common/flash_messages", flash: flash %>
          </div>
         
          <div class="col-md-offset-10 col-md-2 hidden-xs">
              <%= render partial: "common/side_bar"%>
          </div>    
                  

           <div class="col-xs-12 col-md-10 col-lg-10"> 
            <%= yield %>
          
          </div>
        </div>

        <div class="row">
          <div class="col-md-9">
         
            </br>
          </div>
        </div>
      </div>
    </div>

    <%= render :partial => "common/bootstrap_modal" %>
    <%= render :partial => "common/facebook_js" %>
    <%= render :partial => "common/google_analytics" %>
    <%= render :partial => "common/footer" %>
    <%= javascript_include_tag "application" %>

  </body>
<script type="text/javascript">
//var json_array= <%=raw @hash.to_json %>;
var cities_arr= <%= raw @citiesarray %>;
var courts_array =<%= raw @ttcourts.to_json %>;  
//var courts_array = [<%= raw @geojson.to_json %>];
mapboxgl.accessToken = 'pk.eyJ1IjoiYWxsZW44NjYxMjkiLCJhIjoiY2syaGd5aHVyMGE3OTNobGlyZHY4a2s2aiJ9.QslC2-wkDFqWPUOqa6a8sQ';
var map = new mapboxgl.Map({
container: 'map', // container id
style: 'mapbox://styles/mapbox/streets-v11', // stylesheet location
center: [120.5, 24], // starting position [lng, lat]
zoom: 6// starting zoom
});
var js_array = <%= raw @geojson.to_json %>;


  // Add the data to your map as a layer
  

_.each(js_array, function(marker, index){
  //json.marker = markers[index];


  var el = document.createElement('div');
  var  cur_court=marker.preperties;
  el.className = 'marker';
  var popup = new mapboxgl.Popup({ offset: 25 })
 /*.setHTML('<div class="wrapper">'+
         '<p align=center><strong>' +marker.properties.name+'</strong><br></p>'+
           '所在地址：'+marker.properties.address +'<br>'+
           '開放時間：'+marker.properties.opentime +'<br>'+
           '場地設施：'+marker.properties.facilities+'<br>'+
           '收費標準：'+marker.properties.playfee +'<br>'+
           '其他補充：'+marker.properties.supplyinfo+'<br>'+
           '聯絡資訊：'+marker.properties.contactinfo+'<br>'+
           '資料來源：'+marker.properties.infosource
   */        
   .setHTML(marker.properties.popup_info) 
     
 .setLngLat(marker.geometry.coordinates);

  // make a marker for each feature and add to the map
  new mapboxgl.Marker(el)
    .setLngLat(marker.geometry.coordinates)
    .setPopup(popup)
    .addTo(map);

});


function createSidebarLi(json){
  return ("<li><a>" + json.placename + "</a></li>");
};

function createCollpasingSidebarLi(cur_court,json){
  
 return ("<li><font color=\'red\'>" + json.placename +"</font><ul><li>"+ 
           "所在地址:"+cur_court['address']+"</li><li>"+
           "開放時間:"+cur_court['opentime']+"</li><li>"+
           "場地設施:"+cur_court['facilities']+"</li><li>"+
           "收費標準:"+cur_court['playfee']+"</li>"+
       "</ul></li>");
};
function bindLiToMarker($li, cur_court){
  $li.on('click', function(){
     map.flyTo({
    center: [cur_court.lng,cur_court.lat],
    zoom: 15
  });
  createPopUp(cur_court);
  var activeItem = document.getElementsByClassName('active');
  if (activeItem[0]) {
    activeItem[0].classList.remove('active');
  }
  this.parentNode.classList.add('active');
  })
  
  
};
function flyTocourt(cur_court) {
  map.flyTo({
    center: [cur_court.lng,cur_court.lat],
    zoom: 15
  });
}
function createPopUp(cur_court) {
  var popUps = document.getElementsByClassName('mapboxgl-popup');
  // Check if there is already a popup on the map and if so, remove it
  if (popUps[0]) popUps[0].remove();

  var popup = new mapboxgl.Popup({ closeOnClick: false })
    .setLngLat([cur_court.lng,cur_court.lat])
    .setHTML('<div class="wrapper">'+
         '<p align=center><strong>' +cur_court.placename+'</strong><br></p>'+
           '所在地址：'+cur_court.address +'<br>'+
           '開放時間：'+cur_court.opentime +'<br>'+
           '場地設施：'+cur_court.facilities+'<br>'+
           '收費標準：'+cur_court.playfee +'<br>'+
           '其他補充：'+cur_court.supplyinfo+'<br>'+
           '聯絡資訊：'+cur_court.contactinfo+'<br>'+
           '資料來源：'+cur_court.infosource
      )
    .addTo(map);
}
function createCollpasingSidebar(courts_array,json_array,index){
 
  _.each(json_array, function(json){
    var cur_court=_.findWhere(courts_array, {id: json.id});
    var $li = $( createCollpasingSidebarLi(cur_court,json) );
    var ul='city'+index;
    $("#city"+index).append($li);
     bindLiToMarker($li, cur_court);
   
  });
 
};
function createSidebar(json_array){
  _.each(json_array, function(json){
    var $li = $( createSidebarLi(json) );
    $li.appendTo('#sidebar_container');
   // bindLiToMarker($li, json.marker);

  });
};
/*
  handler = Gmaps.build('Google');
  handler.buildMap({ provider: {auto_adjust:false}, internal: {id: 'map'}}, function(){
  var json_array= <%=raw @hash.to_json %>;
  var cities_arr= <%= raw @citiesarray %>
  var courts_array =<%= raw @ttcourts_hash.to_json %>      
  markers = handler.addMarkers(json_array);
  handler.bounds.extendWith(markers);

  _.each(json_array, function(json, index){
  json.marker = markers[index];
    
  });
  
  handler.fitMapToBounds();
  handler.getMap().setZoom(7);
  handler.map.centerOn({ lat: 24, lng: 120.5 }); 
  */
  var gamecount=0
  _.each(cities_arr, function(city, index){
    var city_courts=_.where(courts_array, {city: city});
    if(city_courts.length>0)
    {  
      $('.collapsibleList').append("<li><strong><font color=\'blue\'>"+city+"("+city_courts.length+")"+"</font></strong><ul id=city"+ (gamecount+1)+">");
      createCollpasingSidebar(courts_array,city_courts,(gamecount+1));
      gamecount++;
    } 
  });
    
    CollapsibleLists.applyTo(document.getElementById('ttcourtslist'));


map.on('click', function(e) {
  // Query all the rendered points in the view
  var features = map.queryRenderedFeatures(e.point, { layers: ['locations'] });

  if (features.length) {
    var clickedPoint = features[0];
    // 1. Fly to the point
    //flyToCourt(clickedPoint);
    // 2. Close all other popups and display popup for clicked store
    //createPopUp(clickedPoint);
    // 3. Highlight listing in sidebar (and remove highlight for all other listings)
    var activeItem = document.getElementsByClassName('active');
    if (activeItem[0]) {
      activeItem[0].classList.remove('active');
    }
    // Find the index of the store.features that corresponds to the clickedPoint that fired the event listener
    var selectedFeature = clickedPoint.properties.address;

    for (var i = 0; i < courts_array.length; i++) {
      if (courts_array[i].address == selectedFeature) {
        selectedFeatureIndex = i;
      }
    }
    flyToCourt(courts_array[selectedFeatureIndex]);
    // 2. Close all other popups and display popup for clicked store
    //createPopUp(courts_array[selectedFeatureIndex]);
    // 3. Highlight listing in sidebar (and remove highlight for all other listings)
    
    // Select the correct list item using the found index and add the active class
    var listing = document.getElementById('listing-' + selectedFeatureIndex);
    listing.classList.add('active');
  }
});



</script>
</html>
